// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.buttons{
  background-color: $color-brand-light;
  padding: 1rem 0;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.btn{
  text-transform: uppercase;
  padding: .5rem 1rem;
  border: 0;
  transition: .2s ease-in-out all;
  text-decoration: none;
  display: inline-block;
  @media only screen and (max-width: 468px) {
    text-align: center;
  }
  &--primary{
    background-color: $color-brand-secondary;
    color: white;
    &:hover{
      background-color: darken($color-brand-secondary, 10%);
    }
  }
  &--secondary{
    background-color: $color-lightblue;
    color: white;
    &:hover{
      background-color: darken($color-lightblue, 10%);
    }
  }
  &--previous{
    &:before{
      content: '\f104';
      font-family: 'FontAwesome';
      margin-right: .5rem;
    }
  }
  &--next{
    &:after{
      content: '\f105';
      font-family: 'FontAwesome';
      margin-left: .5rem;
    }
  }
  &--search{
    &:before{
      content: '\f002';
      font-family: 'FontAwesome';
      margin-right: .5rem;
    }
  }
}
.btn-calc{
  position: absolute;
  padding: 0;
  right: .5rem;
  top: .5rem;
  background: none;
  border: 0;
  transition: .2s ease-in-out all;
  &:hover{
    svg{
      fill: $hover-color;
    }
  }
  svg{
    width: 1.5rem;
    height: 2rem;
    fill: $color-brand;
    transition: .2s ease-in-out all;
  }
}
