.choices-wrapper{
  @media only screen and (max-width: 468px) {
    text-align: center;
  }
  .container{
    @media only screen and (max-width: 468px) {
      width: 100%;
      padding: 0;
    }
  }
}
.choices{
  ul{
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
    @media only screen and (max-width: 468px) {
      flex-direction: column;
    }
  }
  li{
    border: 1px solid $color-brand;
    width: (90 / 3) * 1%;
    &:not(:last-child){
      margin-right: 5%;
      @media only screen and (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 5%;
      }
      @media only screen and (max-width: 468px) {
        margin-bottom: 0;
      }
    }
    @media only screen and (max-width: 1024px) {
      width: auto;
      flex: 0 1 50%;
    }
    @media only screen and (max-width: 768px) {
      flex: 0 1 55%;
    }
    @media only screen and (max-width: 468px) {
      width: 100%;
      flex: 0 0 auto;
      border: 0;
      border-top: 1px solid $color-brand;
      &:last-child{
        border-bottom: 1px solid $color-brand;
      }
      &:nth-child(odd){
        background-color: $color-brand-light;
      }
    }
  }
  a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 2em;
    &:hover{
      background-color: $color-brand-light;
    }
  }
}
.choices__title{
  font-size: 1.75rem;
  font-family: $bold-font-stack;
  font-weight: 700;
}
.choices__image{
  width: 100px;
  margin: 0 auto;
}
