.info-bubble{
  $bubble-size: 1rem;
  position: relative;
  margin-left: .25rem;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  display: none; // could be added back
  svg{
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    margin-left: -1px;
    border-radius: 50%;
    border: 1px solid $color-brand;
  }
  &:after{
    content: attr(aria-label);
    position: absolute;
    left: 100%;
    top: 0;
    font-size: .8rem;
    margin-left: .5rem;
    padding: .5em 1em;
    z-index: 10;
    display: block;
    border: 1px solid $color-tab-border;
    background-color: $color-tab-selected;
    font-family: $text-font-stack;
    font-weight: 400;
    width: 250px;
    opacity: 0;
    pointer-events: none;
    transition: all .2s ease;
    @media only screen and (max-width: 468px) {
      position: relative;
      margin-left: 0;
      width: 100%;
      display: none;
      left: 0;
    }
  }
  &:hover{
    &:after{
      opacity: 1;
      @media only screen and (max-width: 468px) {
        display: block;
      }
    }
  }
}
.info-bubble__i{
  fill: $color-brand;
  &:hover{
    fill: white;
    background-color: $color-brand;
  }
}
