.list--checkmarks{
  li{
    position: relative;
    padding-left: 1.5em;
    &:before{
      position: absolute;
      left: 0;
      top: 0;
      font-family: 'FontAwesome';
      content: '\f00c';
      display: inline-block;
      color: $color-brand;
    }
  }
}
.list--checkboxes{
  li:not(:last-child){
    margin-bottom: 1em;
  }
}
