.map{
  width: 100%;
  border: 1px solid $color-tab-border;
  &__header{
    background-color: $color-tab;
    ul{
      display: flex;
      li{
        @media only screen and (max-width: 468px) {
          display: flex;
          text-align: center;
        }
        &:first-child{
          padding: 1rem;
          font-weight: 700;
          font-family: $bold-font-stack;
          @media only screen and (max-width: 468px) {
            padding: 1rem .5rem;
          }
        }
      }
      button{
        background: none;
        border: 0;
        padding: 1rem;
        outline: 0;
        @media only screen and (max-width: 468px) {
          padding: 1rem .5rem;
        }
        &:hover, &.active{
          background-color: $color-tab-selected;
        }
      }
    }
  }
  &__search{
    background-color: $color-tab-selected;
    padding: .5rem 1rem;
    &__form{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      span{
        display: inline-block;
        flex: 0 1 40%;
      }
      &__input{
        margin: 0 1rem;
        @media only screen and (max-width: 468px) {
          //flex: 0 1 60%;
          margin: 0;
        }
      }
      button{
        flex: 0 0 20%;
        @media only screen and (max-width: 1024px) {
          flex: 0 0 30%;
        }
        @media only screen and (max-width: 468px) {
          flex: 0 0 100%;
          margin-top: .5rem;
        }
      }
      @media only screen and (max-width: 468px) {
        flex-wrap: wrap;
        span, input:not([type=submit]):not([type=radio]):not([type=checkbox]){
          flex: 1 0 45%;
        }
      }
    }
  }
  &__frame{
    height: 500px;
  }
  &__legend{
    padding: .5rem 0;
    ul{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      @media only screen and (max-width: 468px) {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1rem;
      }
      li{
        display: flex;
        align-items: center;
        &:before{
          display: block;
          margin-right: .5rem;
          font-family: "FontAwesome";
          font-size: 1.25rem;
          @media only screen and (max-width: 468px) {
            width: 1.25rem;
            text-align: center;
          }
        }
        &:first-child{
          &:before{
            width: 1.25rem;
            height: 1.25rem;
            background-color: $color-tab-selected;
            border-radius: 50%;
            content: '';
          }
        }
        &:nth-child(2){
          &:before{
            content: '\f041';
            color: $hover-color;
          }
        }
        &:nth-child(3){
          &:before{
            content: '\f05b';
          }
        }
        &:last-child{
          &:before{
            content: '\f065';
          }
        }
      }
    }
  }
}
