.news{
  &:not(:last-child){
    margin-bottom: 2em;
  }
}
.news__title{
  font-family: $bold-font-stack;
  font-weight: 700;
}
.news__date{
  color: $color-lightblue;
  font-size: 1.25rem;
}
.news__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news__content{
  border: 1px solid $color-lightblue;
  padding: 2em;
}
.news__image{
  display: block;
  float: left;
  margin: 0 2em 2em 0;
  @media only screen and (max-width: 468px) {
    float: none;
    width: 100%;
  }
}
