.products{
  h2, h3{
    font-family: $bold-font-stack;
    font-weight: 700;
  }
}
.product{
  border: 1px solid $color-lightblue;
  padding: 2em;
  ul{
    color: $color-text;
  }
}
.product__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__intro{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
  &-text{
    flex: 0 1 auto;
    h3:not(:last-child){
      margin: 0 0 1em 0;
    }
  }
}
.product__image{
  display: block;
  margin-left: 2em;
  flex: 0 1 auto;
  max-width: 400px;
  @media only screen and (max-width: 768px) {
    margin: 0 auto 2em auto;
  }
  @media only screen and (max-width: 468px) {
    min-width: auto;
    width: 100%;
  }
}
.product__buttons{
  @media only screen and (max-width: 768px) {
    text-align: center;
  }
  @media only screen and (max-width: 468px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a{
    @media only screen and (max-width: 468px) {
      flex: 0 0 47.5%;
    }
  }
  a:first-child{
    margin-right: 1em;
    @media only screen and (max-width: 468px) {
      margin-right: 0;
    }
  }
}
.product__checkbox{
  margin-bottom: 1em;
  input[type=checkbox] + label{
    font-size: 1.125rem;
    font-family: $bold-font-stack;
    line-height: 100%;
    font-weight: 600;
    @media only screen and (max-width: 768px) {
      justify-content: center;
    }
  }
}
