.rapport{
  border: 1px solid $color-lightblue;
  padding: 2em;
  form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    @media only screen and (max-width: 1024px) {
      width: 75%;
    }
    @media only screen and (max-width: 468px) {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
    label{
      margin-right: 1em;
      min-width: 125px;
      @media only screen and (max-width: 468px) {
        min-width: auto;
      }
    }
  }
  .btn{
    margin-left: 1em;
    flex: 1 0 auto;
    @media only screen and (max-width: 468px) {
      margin-left: 0;
      margin-top: 1em;
    }
  }
}
.rapport__emails{
  border: 1px solid $color-lightblue;
  padding: 2em 2em 1em 2em;
  margin-top: 2em;
  ul{
    display: flex;
    flex-wrap: wrap;
  }
  li{
    margin-bottom: 1em;
    &:not(:last-child){
      margin-right: 1em;
    }
  }
}
.rapport__email{
  background-color: $color-brand-light;
  border: 1px solid $color-brand;
  color: $color-brand;
  padding: .5em 1em;
  button{
    background: none;
    border: 0;
    padding: 0;
    margin-left: 1em;
  }
}
