.step-tabs{
  background-color: $color-brand-light;
  padding: .5em 0;
}
.step-tabs__navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.step-tabs__navigation--button-below{
  @media only screen and (max-width: 468px) {
    flex-direction: column;
  }
}
.step-tabs__arrow{
  stroke: $color-lightblue;
}
ol{
  display: flex;
  counter-reset: steps-counter;
  max-width: 100%;
  @media only screen and (max-width: 768px) {
    width: 60%;
  }
  @media only screen and (max-width: 468px) {
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
  }
  li{
    display: flex;
    align-items: center;
    @media only screen and (max-width: 768px) {
      justify-content: flex-start;
    }
    &:not(:last-child){
      margin-right: 1em;
    }
    a{
      display: flex;
      align-items: center;
      text-decoration: none;
      margin-right: 1em;
      text-transform: uppercase;
      color: $color-lightblue;
      @media only screen and (max-width: 468px) {
        font-size: 0;
      }
      &:before{
        content: counter(steps-counter);
        counter-increment: steps-counter;
        color: $color-lightblue;
        margin-right: .25em;
        font-size: 3rem;
        font-family: 'NanumGothic-Bold', 'MetaPro-Bold', Helvetica, Arial, sans-serif;
        font-weight: 700;
        @media only screen and (max-width: 768px) {
          margin-right: .5em;
        }
      }
    }
    &.active{
      a, a:before{
        color: $color-brand;
      }
    }
  }
}
