.submenu{
  ul{
    display: flex;
    align-items: center;
    @media only screen and (max-width: 468px) {
      flex-wrap: wrap;
    }
    li{
      width: (100 / 4) * 1%;
      border: 1px solid $color-lightblue;
      flex: 0 1 auto;
      &:not(:last-child){
        border-right: 0;
      }
      @media only screen and (max-width: 468px) {
        width: (100 / 2) * 1%;
      }
    }
  }
  a{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 2em 0;
    border-bottom: 10px solid transparent;
    @media only screen and (max-width: 468px) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: .5em 0;
      border-bottom: 0;
    }
    &:hover{
      border-bottom-color: $color-lightblue;
      @media only screen and (max-width: 468px) {
        background-color: $color-lightblue;
      }
    }
    &:active{
      border-bottom-color: $color-brand;
    }
  }
  svg{
    display: block;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    @media only screen and (max-width: 468px) {
      height: 40px;
      width: 40px;
      margin: 0;
    }
  }
  span{
    display: block;
    margin-top: .5em;
    font-size: 1.75rem;
    font-family: $bold-font-stack;
    font-weight: 700;
    @media only screen and (max-width: 468px) {
      margin-top: 0;
      margin-left: .5em;
      font-size: 1rem;
    }
  }
}
.submenu--fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
  a{
    padding: 1em 0;
  }
}
