.thankyou{
  h2{
    font-weight: 700;
    font-size: 1.25rem;
    margin: 1.5em 0 1em 0;
  }
}
.thankyou-choice-wrapper{
  border-top: 1px solid $color-tab-border;
  padding-top: 3rem;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}
.thankyou-choice{
  text-align: center;
  width: (90 / 4) * 1%;
  @media only screen and (max-width: 768px) {
    width: 50%;
    &:not(:last-child){
      margin-bottom: 2rem;
    }
  }
  @media only screen and (max-width: 468px) {
    width: 100%;
  }
  em, span{
    display: block;
  }
  em{
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
  }
  &__img{
    $img-size: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $img-size;
    max-width: 100%;
    height: $img-size;
    background-color: $color-tab;
    border: 1px solid $color-tab-border;
    border-radius: 50%;
    margin: 1rem auto;
    svg{
      fill: $color-brand;
      width: 50%;
      max-height: 100%;
    }
  }
  .btn{
    display: block;
  }
}
