// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}
ol, ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/**
 * Basic styles for links
 */
a {
  color: inherit;
  @include on-event {
    cursor: pointer;
  }
}

body{
  color: $color-brand;
  font-family: $text-font-stack;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}
.md-open{
  @media only screen and (max-width: 468px) {
      overflow: hidden;
      position: fixed;
    }
}

.flex{
  display: flex;
}

.padding{
  &--2{
    padding: 2rem 0;
  }
  &--5{
    padding: 5rem 0;
    @media only screen and (max-width: 468px) {
      padding: 1rem 0;
    }
  }
}
.drop-shadow{
  box-shadow: 0 5px 5px 0 rgba(black, .2);
}
