/**
 * Basic typography style for copy text
 */
@import 'https://fonts.googleapis.com/css?family=Roboto';

@font-face {
  font-family: 'MetaPro-Bold';
  src: url('../resources/fonts/MetaPro-Bold.woff') format('woff');
}
@font-face {
  font-family: 'MetaPro-Normal';
  src: url('../resources/fonts/MetaPro-Normal.woff') format('woff');
}
@font-face {
  font-family: 'NanumGothic-Bold';
  src: url('../resources/fonts/NanumGothic-Bold.woff') format('woff');
}

h1, h2, h3, h4, h5, h6{
  line-height: 100%;
}
h1{
   font-size: 1.75rem;
   font-family: $bold-font-stack;
   font-weight: 700;
 }
h2, h3{
  font-family: $text-font-stack;
  font-weight: normal;
  font-size: 1.5rem;
}
.strong{
  font-family: $bold-font-stack;
  font-weight: 700;
  a{
    color: inherit;
    &:hover{
      color: $color-brand;
    }
  }
}
.normal{
  font-family: $text-font-stack;
  font-weight: normal;;
}
p{
  line-height: 150%;
  margin: 0;
  color: $color-text;
  &:not(:last-child){
    margin-bottom: 1em;
  }
}
.text-center{
  text-align: center;
}
