{% extends 'base.html.twig' %}
{% block content %}
<section class="padding--5 form form-login">
    <div class="container">
        {% if error %}
            <div class="error" style="margin: 1.5rem; text-align:center;     color: #ff3366;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
<form action="{{ path('login') }}" method="post" class="form--small" style="margin:auto">

    <div class="form__input">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
    </div>
    <div class="form__input">
    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <button type="submit" class="btn btn--primary btn--next">Login</button>
</form>
    </div>
</section>
{% endblock %}