<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<div style="margin:0 auto;max-width:500px;background:#003399;">
    <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#003399;"
           align="center" border="0">
        <tbody>
        <tr>
            <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:10px 25px;">
                <!--[if mso | IE]>
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="vertical-align:top;width:500px;">
                <![endif]-->
                <div class="mj-column-per-100 outlook-group-fix"
                     style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
                    <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                        <tbody>
                        <tr>
                            <td style="word-wrap:break-word;font-size:0px;padding:10px 25px;" align="center">
                                <div style="cursor:auto;color:#FFFFFF;font-family:Helvetica, Arial, sans-serif;;font-size:14px;line-height:22px;text-align:center;">
                                    2017  Baloise Insurance
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--[if mso | IE]>
                </td></tr></table>
                <![endif]--></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>