<!doctype html>
<html>
<head></head>
<body>
<div style="height:15px"></div>
<div style="margin:0 auto;max-width:600px; height:50px;text-align: center;">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 212 55" style="enable-background:new 0 0 212 55;" xml:space="preserve">
<style type="text/css">
    .st0{fill:#00529B;}
</style>
        <g id="XMLID_29_">
            <path id="XMLID_68_" class="st0" d="M66.3,53.3h-2.8V42.5h2.8V53.3z"/>
            <path id="XMLID_66_" class="st0" d="M71,46.9L71,46.9c0.6-0.9,1.4-1.2,2.4-1.2c2,0,2.8,1.3,2.8,3.1v4.6h-2.6v-3.6
		c0-0.7,0.1-1.9-1.2-1.9c-1.1,0-1.4,0.8-1.4,1.7v3.8h-2.6v-7.4H71V46.9z"/>
            <path id="XMLID_64_" class="st0" d="M83.2,47.8c-0.4-0.2-1-0.4-1.4-0.4c-0.3,0-0.8,0.1-0.8,0.5c0,0.5,0.8,0.6,1.2,0.7
		c1.2,0.2,2.2,0.8,2.2,2.2c0,1.9-1.8,2.8-3.5,2.8c-1.1,0-2.1-0.3-3-0.8l1-1.8c0.5,0.4,1.4,0.8,2.1,0.8c0.3,0,0.8-0.2,0.8-0.6
		c0-0.6-0.8-0.6-1.7-0.8c-0.8-0.2-1.6-0.6-1.6-2c0-1.8,1.6-2.6,3.3-2.6c0.8,0,1.7,0.1,2.4,0.5L83.2,47.8z"/>
            <path id="XMLID_62_" class="st0" d="M88.7,45.9v4c0,0.9,0.2,1.6,1.3,1.6c1.1,0,1.3-0.7,1.3-1.6v-4H94v4.5c0,2.4-1.7,3.2-4,3.2
		s-4-0.8-4-3.2v-4.5H88.7z"/>
            <path id="XMLID_60_" class="st0" d="M98.6,47.2L98.6,47.2c0.5-0.9,1.4-1.3,2.4-1.3h0.5v2.5c-0.4-0.2-0.7-0.2-1.1-0.2
		c-1.5,0-1.8,1-1.8,2.2v3H96v-7.4h2.6V47.2z"/>
            <path id="XMLID_57_" class="st0" d="M107,48c1.1,0,1.7,0.8,1.7,1.7c0,0.9-0.6,1.7-1.7,1.7c-1.1,0-1.7-0.7-1.7-1.7
		C105.3,48.7,105.9,48,107,48z M111.2,45.9h-2.6v0.7c-0.6-0.6-1.5-1-2.3-1c-2.2,0-3.7,1.8-3.7,3.9c0,2.1,1.5,4,3.7,4
		c0.9,0,1.8-0.3,2.2-1.1h0v0.8h2.6V45.9z"/>
            <path id="XMLID_55_" class="st0" d="M115.9,46.9L115.9,46.9c0.6-0.9,1.4-1.2,2.4-1.2c2,0,2.8,1.3,2.8,3.1v4.6h-2.6v-3.6
		c0-0.7,0.1-1.9-1.2-1.9c-1.1,0-1.4,0.8-1.4,1.7v3.8h-2.6v-7.4h2.6V46.9z"/>
            <path id="XMLID_53_" class="st0" d="M128.7,48.4c-0.4-0.3-0.9-0.5-1.4-0.5c-1,0-1.8,0.8-1.8,1.8c0,1.1,0.8,1.8,1.8,1.8
		c0.5,0,1-0.2,1.3-0.5v2.2c-0.6,0.3-1.2,0.4-1.8,0.4c-2.2,0-4-1.6-4-3.9c0-2.4,1.8-4,4.1-4c0.6,0,1.2,0.1,1.7,0.4V48.4z"/>
            <path id="XMLID_50_" class="st0" d="M132.9,48.6c0.2-0.8,0.8-1.2,1.6-1.2c0.7,0,1.4,0.5,1.5,1.2H132.9z M138.4,49.8
		c0-2.5-1.5-4.1-4.1-4.1c-2.4,0-4.1,1.5-4.1,4c0,2.5,1.8,3.9,4.3,3.9c1.7,0,3.4-0.8,3.8-2.5h-2.5c-0.3,0.5-0.7,0.7-1.3,0.7
		c-1.1,0-1.6-0.6-1.6-1.6h5.5V49.8z"/>
            <path id="XMLID_46_" class="st0" d="M71,22.1h0.9c2.7,0,6.9-0.4,6.9,3.5c0,3.5-4.2,3.4-6.6,3.4H71V22.1z M75.5,35.4
		c5.9,0,11.6-2.2,11.6-8.9c0-4.5-2-7.6-6.5-8.2v-0.1c2.6-1.3,3.5-3.7,3.5-6.6c0-6.1-3.8-8.3-9.5-8.3H62.7v32.1H75.5z M71,9.6h0.6
		c2.3,0,4.9,0.2,4.9,3.1c0,2.8-2.3,3.1-4.5,3.1H71V9.6z"/>
            <path id="XMLID_43_" class="st0" d="M102.1,19.5c3.2,0,5,2.2,5,4.9c0,2.8-1.8,4.9-5,4.9s-5-2.1-5-4.9C97.1,21.8,99,19.5,102.1,19.5
		z M114.6,13.5h-7.7v2.1c-1.6-1.9-4.3-2.9-6.8-2.9c-6.5,0-10.9,5.4-10.9,11.6s4.5,11.7,11,11.7c2.6,0,5.2-1,6.6-3.2h0.1v2.4h7.7
		V13.5z"/>
            <path id="XMLID_41_" class="st0" d="M126.2,35.4h-7.7V0h7.7V35.4z"/>
            <path id="XMLID_38_" class="st0" d="M141.8,19.5c3.1,0,5,2.2,5,4.9c0,2.8-1.8,4.9-5,4.9c-3.1,0-5-2.1-5-4.9
		C136.8,21.8,138.7,19.5,141.8,19.5z M141.8,12.8c-7,0-13.1,4.2-13.1,11.7c0,7.4,6.2,11.6,13.1,11.6c7,0,13.1-4.2,13.1-11.6
		C154.9,17,148.8,12.8,141.8,12.8z"/>
            <path id="XMLID_35_" class="st0" d="M165.1,35.4h-7.7V13.5h7.7V35.4z M165.6,5.1c0,2.4-2,4.3-4.3,4.3c-2.4,0-4.3-2-4.3-4.3
		c0-2.4,2-4.3,4.3-4.3C163.7,0.8,165.6,2.7,165.6,5.1z"/>
            <path id="XMLID_33_" class="st0" d="M183.4,19.1c-1.2-0.6-2.9-1.1-4.2-1.1c-0.9,0-2.5,0.4-2.5,1.5c0,1.5,2.5,1.7,3.5,1.9
		c3.6,0.7,6.3,2.4,6.3,6.5c0,5.7-5.2,8.1-10.4,8.1c-3.1,0-6.2-0.9-8.8-2.5l2.8-5.4c1.6,1.1,4.2,2.2,6.1,2.2c1,0,2.5-0.5,2.5-1.7
		c0-1.7-2.5-1.8-4.9-2.4c-2.4-0.6-4.8-1.8-4.8-5.8c0-5.4,4.8-7.7,9.7-7.7c2.5,0,4.9,0.4,7.2,1.4L183.4,19.1z"/>
            <path id="XMLID_30_" class="st0" d="M195.8,21.2c0.5-2.2,2.3-3.4,4.6-3.4c2.1,0,4,1.4,4.4,3.4H195.8z M212,24.9
		c0-7.4-4.4-12.1-12-12.1c-7.1,0-12.1,4.4-12.1,11.6c0,7.5,5.4,11.6,12.6,11.6c5,0,9.9-2.3,11.1-7.5h-7.5c-0.9,1.4-2,2-3.7,2
		c-3.2,0-4.9-1.7-4.9-4.9H212V24.9z"/>
        </g>
        <g id="XMLID_27_">
            <polygon id="XMLID_1_" class="st0" points="33.8,30.5 41.1,37.8 25.6,53.3 0.1,27.8 25.6,2.3 48.5,25.2 59.3,25.2 59.3,35.4
		43.6,35.4 25.6,17.4 15,28 25.6,38.6 33.8,30.5 	"/>
        </g>
</svg>
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
         width="600.000000pt" height="12.000000pt" viewBox="0 0 600.000000 12.000000"
         preserveAspectRatio="xMidYMid meet"
    style="width:500px;">

        <style>
            .line1{
                fill: #003399
            }
            .line2{
                fill: #008AC9
            }
        </style>
        <g transform="translate(0.000000,12.000000) scale(0.100000,-0.100000)"
           fill="#000000" stroke="none">
            <path class="line1" d="M0 60 l0 -60 2263 0 2263 0 59 60 59 60 -2322 0 -2322 0 0 -60z"/>
            <path class="line2" d="M4655 60 l-59 -60 902 0 902 0 0 60 0 60 -843 0 -843 0 -59 -60z"/>
        </g>
    </svg>
</div>
</body>
</html>