// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer{
  background-color: #003399;
  color: white;
  padding: 1em;
  @media only screen and (max-width: 468px) {
    padding: 0;
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 468px) {
      display: block;
      width: 100%;
      padding: 0;
      text-align: center;
    }
  }
}
.footer__left{
  display: flex;
  @media only screen and (max-width: 468px) {
    flex-direction: column;
    background-color: $color-lightblue;
    padding: 1em 0;
  }
  ul{
    display: flex;
    align-items: center;
    margin-right: 1em;
    @media only screen and (max-width: 468px) {
      justify-content: center;
      margin-right: 0;
      order: 1;
    }
    li{
      &:not(:last-child){
        margin-right: 1em;
      }
    }
  }
  .fa{
    font-size: 1.5rem;
  }
}
.footer__slogan{
  font-weight: 700;
  @media only screen and (max-width: 468px) {
    order: 0;
    margin-bottom: 1em;
  }
}
.footer__right{
  @media only screen and (max-width: 468px) {
    padding: 1em 0;
  }
}
