.form{
  label{
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    width: 60%;
    padding-right: 1rem;

    @media only screen and (max-width: 468px) {
      width: auto;
      margin-bottom: .5em;
    }
  }
  .checkboxes{
    display: inline-block;
    vertical-align: middle;
    width: 39%;
    @media only screen and (max-width: 468px) {
      width: 100%;
      display: block;
    }
    li{
      &:not(:last-child){
        margin-bottom: .5em;
      }
    }
  }
}
.form--small{
  width: 75%;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}
fieldset{
  border: 0;
  padding: 0;
  margin: 0 0 3rem 0;
}
legend{
  display: block;
  width: 100%;
  font-size: 1.25rem;
  font-family: $bold-font-stack;
  font-weight: 700;
  border-bottom: 1px solid $color-brand;
  margin-bottom: 1rem;
  padding-bottom: .5em;
}
form{
  & > ul{
    & > li{
      &:not(:last-child){
        margin-bottom: 1.5em;
      }
    }
  }
  .form-wrapper{
    & > .form__input{
      &:not(:last-child){
        margin-bottom: 1.5em;
      }
    }
  }
  .form__input{
    @media only screen and (max-width: 1024px) {
      display: flex;
      justify-content: flex-start;

    }
    @media only screen and (max-width: 468px) {
      flex-direction: column;
    }
  }
  .form__error{
    margin: 1em 0;
    span{
      margin-left: 200px;
      color: $color-error;
    }
  }
  input:not([type=submit]):not([type=radio]):not([type=checkbox]){
    border: 1px solid $color-brand;
    color: $color-brand;
    padding: $input-padding;
    flex: 0 1 auto;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    width: 39%;
    @media only screen and (max-width: 1024px) {
      width: 39%;
    }
    @media only screen and (max-width: 468px) {
      width: 100%;
    }
    &:focus{
      outline: 0;
      background-color: $color-brand-light;
    }
  }
  select{
    border: 1px solid $color-brand;
    color: $color-brand;
    padding: $input-padding;
    flex: 0 1 auto;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    width: 100%;
    &:focus{
      outline: 0;
    }
  }
  input:not([type=submit]):not([type=radio]):not([type=checkbox]).error{
    border-color: $color-error;
    color: $color-error;
  }
}

.dropdown{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  width: 39%;
  @media only screen and (max-width: 468px) {
    width: 100%;
  }
  &:after{
    position: absolute;
    top: $input-padding;
    right: $input-padding;
    content: '\f107';
    font-family: "FontAwesome";
    color: $color-brand;
    border-left: 1px solid $color-brand;
    text-align: center;
    padding: 0 $input-padding 0 $input-padding * 2;
  }
  &--small{
    flex: 0 1 auto;
  }
  select{
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    background: none;
    &::-ms-expand{
      display: none;
    }
  }
  &.error{
    &:after, select{
      color: $color-error;
      border-color: $color-error;
    }
  }
}
input[type=checkbox]{
  $checkbox-size: 30px;
  $checkbox-border-size: 1px;
  opacity: 0;
  & + label{
    width: auto;
    margin: 0;
    display: flex;
    align-items: center;
    &:before{
      display: inline-block;
      content: '';
      font-family: "FontAwesome";
      border: $checkbox-border-size solid $color-brand;
      min-width: $checkbox-size;
      width: $checkbox-size;
      height: $checkbox-size;
      vertical-align: middle;
      text-align: center;
      font-size: 1.25rem;
      margin-right: .5rem;
    }

  }

  &:focus + label:before{
    -webkit-box-shadow: 2px 2px 2px ;
    -moz-box-shadow: 2px 2px 2px ;
    box-shadow: 2px 2px 2px ;
  }

  &:checked + label{
    color: $hover-color;
    &:before{
      content: '\f00c';
      line-height: ($checkbox-size - ($checkbox-border-size * 2));
      color: $hover-color;
      border-color: $hover-color;
    }
  }
}
.radio{
  $radio-size: 25px;
  $radio-border-size: 1px;
  width: 100%;
  align-self: flex-start;
  display: flex;
  input[type=radio]{
    display: none;
    & + label{
      width: auto;
      margin: 0;
      display: flex;
      align-items: center;
      margin-right: 1rem;
      &:before{
        display: inline-block;
        content: '';
        font-family: "FontAwesome";
        border: $radio-border-size solid $color-brand;
        min-width: $radio-size;
        width: $radio-size;
        height: $radio-size;
        vertical-align: middle;
        text-align: center;
        font-size: ($radio-size / 2);
        margin-right: .5rem;
        border-radius: 50%;
      }
    }
    &:checked + label{
      color: $hover-color;
      &:before{
        content: '\f111';
        line-height: ($radio-size - ($radio-border-size * 2));
        color: $hover-color;
        border-color: $hover-color;
      }
    }
  }
}
.radio-image{
  $radio-button-width: 20px;
  width: 100%;
  flex: 0 1 auto;
  ul{
    display: flex;
  }
  li{
    display: flex;
    flex-direction: column;
    width: (90 / 3) * 1%;
    flex: 0 1 (90 / 3) * 1%;
    @media only screen and (max-width: 1280px) {
      width: (95 / 2) * 1%;
      flex: 0 1 (95 / 2) * 1%;
    }
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 5%;
    }
    .info-bubble{
      margin-top: .5rem;
    }
  }
  label{
    width: 100%;
    border: 1px solid $color-brand;
    padding: 1rem;
    text-align: center;
    flex: 1 1 auto;
    cursor: pointer;
    margin: 0;
    svg{
      height: 90px;
      fill: $color-brand;
      display: inline-block;
      margin: 0 auto .5rem auto;
      &.stroke{
        stroke: $color-brand;
      }
    }
    &:hover{
      border-color: $hover-color;
    }
  }
  input[type=radio]{
    display: none;
  }
  input[type=radio] + label{
    span{
      position: relative;
      width: 100%;
      display: block;
      @media only screen and (max-width: 1024px) {
        //word-break: break-all; // Could be useful?
      }
      &:before, &:after{
        content: '';
        display: block;
        margin: 0 auto;
        border-radius: 50%;
      }
      &:before{
        background-color: white;
        border: 1px solid $color-brand;
        width: $radio-button-width;
        height: $radio-button-width;
        margin-bottom: .5rem;
      }
      &:after{
        display: none;
        position: absolute;
        top: ($radio-button-width / 4);
        left: 0;
        right: 0;
        background-color: $hover-color;
        width: ($radio-button-width / 2);
        height: ($radio-button-width / 2);
      }
    }
  }
  input[type=radio]:checked + label{
    color: white;
    border-color: $hover-color;
    background-color: $hover-color;
    span{
      &:before{
        border-color: $hover-color;
      }
      &:after{
        display: block;
      }
    }
    svg{
      fill: white;
      &.stroke{
        stroke: white;
      }
    }
  }
}



.ui-helper-hidden-accessible{
  display:none !important;
}