// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header{
  $header-padding: 1.5em;
  padding: $header-padding 0 0 0;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &:after{
    content: '';
    display: block;
    background: url(../images/header-bar.png) no-repeat center bottom;
    background-size: cover;
    height: 10px;
    width: 100%;
    margin: $header-padding 0 0 0;
  }
}
.header__logo{
  img{
    width: 150px;
  }
}
.header__title{
  font-size: 1.5em;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
.header__right{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.language-toggle{
  $box-shadow: 0 4px 6px 0 $color-box-shadow;
  text-transform: uppercase;
  //box-shadow: $box-shadow;
  margin-left: 2em;
  &:hover{
    box-shadow: 0 0 6px 0 $color-box-shadow;;
  }
  a{
    text-decoration: none;
    display: block;
    padding: .5em 1em;
    background-color: white;
    &:hover{
      background-color: $color-brand-light;
    }
  }
  .has-child{
    position: relative;
    & > a{
      &:after{
        display: inline-block;
        content: '\f107';
        font-family: "FontAwesome";
        margin-left: .5em;
        transition: .2s ease-in-out transform;
      }
    }
    & > ul{
      display: none;
      box-shadow: $box-shadow;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
    }
    &:hover{
      & > ul{
        display: block;
      }
      & > a:after{
        transform: rotate(-180deg);
      }
    }
  }
}
.logo{
  padding: 2rem;
  img{
    display: block;
    width: 250px;
    max-width: 100%;
    @media only screen and (max-width: 468px) {
      margin: 0 auto;
    }
  }
}
