// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin button($color, $textcolor) {
  background-color: $color;
  border-color: darken($color, 7%);
  box-shadow: inset 0 -2px 0 0 darken($color, 7%);
  color: $textcolor;
  &:hover{
    background-color: darken($cta-color, 5%);
    border-color: darken($cta-color, 12%);
    box-shadow: inset 0 -2px 0 0 darken($cta-color, 12%);
    color: $textcolor;
  }
  &:active{
    box-shadow: none;
    padding: .85rem 1rem .65rem 1rem;
    color: $textcolor;
  }
}

@mixin flag-color($color){
  &:after{
    border-left-color: $color;
    border-right-color: $color;
  }
}
