// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'MetaPro-Normal', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$bold-font-stack: 'MetaPro-Bold', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;




$color-text: #000000;
/// Main brand color
/// @type Color
$color-brand: #008AC9 !default;
$color-brand-secondary: #FFAD33 !default;

$color-brand-light: #e5f3f9 !default;

$color-lightblue: #99d0e9 !default;

$color-box-shadow: rgba(black, .1);

$color-error: #ff3366 !default;



$light-grey: #EBECEC !default;

$cta-color: #f05a28 !default;

$hover-color: #FF9900 !default;

$color-tab: #CCE8F4 !default;
$color-tab-selected: #E5F3F9 !default;
$color-tab-border: #B2DCEF !default;


// INPUT
$input-padding: .5rem !default;




/// Container's maximum width
/// @type Length
$max-width: 1280px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
