{% extends '@EasyAdmin/default/layout.html.twig' %}

 {% block main %}
     <style>
         .main-div{
             margin-bottom: 2rem;
         }

         .checkbox label .toggle.btn{
             margin-left: 0px;
         }
     </style>

     <div class="statistics main-div row">
         <div class="col-xs-12">
             <h2> Statistics:</h2>
         </div>
         <div class="col-xs-3">

                 Mails sent:

         </div>
         <div class="col-xs-9">
             18
         </div>
     </div>


     <div class="configs main-div row">
         <div class="col-xs-12">
         <h2> Configs:</h2>
         </div>
         <div class="col-xs-12 ">


             <div class="checkbox">
             <label class="switch"> Enable News:
             <input type="checkbox" {{ news.value == 1 ? 'checked' : '' }} data-toggle="toggle" data-onstyle="success" name="news">
                 <span class="slider round"> </span>
             </label>
             </div>
         </div>
     </div>

     <script>

         $(document).on('change','[name=news]',function(){
             console.log($(this));
             $.ajax({
                 url: '{{ path('enable_news') }}',
                 data: { news: $(this).is(':checked') }
             })
         })
     </script>
 {% endblock %}