// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.radio-image--family{
  @media only screen and (max-width: 1024px) {
    ul{
      flex-wrap: wrap;
    }
    li{
      width: (95 / 2) * 1%;
      flex: 0 1 (95 / 2) * 1%;
      margin-bottom: 2rem;
      &:not(:last-child){
        margin-bottom: 2rem;
      }
      &:nth-child(even){
        margin-right: 0;
      }
    }
  }
}
