.personal{
  .step__form{
    margin-right: 0;
  }
}
.personal-form{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @media only screen and (max-width: 468px) {
    flex-direction: column;
  }
  ul{
    width: 47.5%;
    @media only screen and (max-width: 468px) {
      width: 100%;
    }
    li{
      justify-content: flex-start;
    }
  }
  label{
    width: 20%;
    @media only screen and (min-width: 469px) and (max-width: 1024px) {
      width: 30%;
    }
  }
}
.mailoptin{
  margin-top: 1rem;
  width: 47.5%;
  @media only screen and (max-width: 468px) {
    width: 100%;
  }
  input[type=checkbox] + label{
    flex: 0 1 100%;
    margin-left: 25%;
    @media only screen and (min-width: 469px) and (max-width: 1024px) {
      margin-left: 35%;
    }
    @media only screen and (max-width: 468px) {
      margin-left: 0;
    }
  }
}
span.email{
  word-break: break-all;
}
