<!DOCTYPE html>
<html lang="en">
<head>
    {% if app.environment == 'prod' %}
        <!-- Google Tag Managers -->
        <script>
            (function(w,d,s,l,i){
                w[l]=w[l]||[];w[l].push(
                {'gtm.start': new Date().getTime(),event:'gtm.js'}
            );var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-W9J7SF');</script>
        <!-- End Google Tag Manager -->
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Transport | Safer Business | Baloise</title>
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="icon" href="{{ asset('assets/images/favicon.png') }}" sizes="152x152" type="image/png">
</head>
<body>

{% if app.environment == 'prod' %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9J7SF"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}

{% set locale = app.request.get('_locale') ? app.request.get('_locale') : 'nl' %}
{% set otherLang = locale|lower == 'nl' ? 'fr' : 'nl' %}
{% set route = app.request.get('_route') %}
<div class="mega-wrapper">
<header class="header">
    <div class="container">
        <div class="header__left">
            <div class="header__logo">
                <a href="{{ path('index') }}"><img src="{{ asset('assets/images/logo-baloise@2x.png') }}" alt=""></a>
            </div>
        </div>
        <div class="header__right">
            {% if news is defined %}
            <!--a href="{{ path('news', {'_locale':locale}) }}" class="header__title">{{ 'news'|trans }}</a-->
            {% endif %}
            <ul class="language-toggle">
                <li class="has-child">
                    <a id="language-button">{{ locale }}</a>
                    <ul>
                        <li><a href="{{ path(route,{'_locale':otherLang}) }}">{{ otherLang }}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>

{% block content %}

{% endblock %}

</div>
{% block buttons %}

{% endblock %}

{% include 'footer.html.twig' %}

{% block after_footer %}

{% endblock %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="{{ asset('assets/js/app.js') }}"></script>
<script src="{{ asset('assets/js/validation.js') }}"></script>

<script>
    $(document).ready(function(){
        var h = window.innerHeight - $('.footer').height() -2;
        if(h> $('.mega-wrapper').height()){
        $('.mega-wrapper').height(h);
            }


        if($('div.buttons').height()){
            var buttonHeight =  $('.buttons').height()+2;// + parseInt($('.buttons').css('padding-top').slice(0,2)) + parseInt($('.buttons').css('padding-bottom').slice(0,2));

            $('.mega-wrapper').css(
                'margin-bottom', -buttonHeight
            ).css(
                'padding-bottom', buttonHeight
            )
        }
    })

    $(document).on('click','#language-button',function(){
        $(this).focus();
    })
</script>
{% block scripts %}
{% endblock %}
</body>
</html>
