{% extends 'base.html.twig' %}
{% set step_nr = 3 %}

{% block content %}
    {% include 'nav.html.twig' %}
    <section class="padding--2">
        <div class="container">
            <h1>{{ 'error.header'|trans }}</h1>
            <div class="error-page-text">
                {{ 'error.text'|trans }}
                {{ dump(error.message) }}
            </div>
        </div>
    </section>
{% endblock %}