<style>
    .footer {
        min-height: 57px;
        text-align: center;
        bottom: 0;
        width: 100%;
align-items: center;
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
    }
    .footer>* {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        background-color: {{ broker.fontcolor }};
        flex: 1 1 100%;
    }
    p.policies a{
        display: inline-block;
        font-family: "MetaProNormal", sans-serif;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.75;
        letter-spacing: 0.5px;
        color: #ffffff;
        margin-right: 30px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .foot-2,.foot-2 .policies {
        background-color: {{ broker.bordercolor }};
        display: inline-block;
    }
    .footer .foot-1 p.text-muted {
        line-height: 1rem;
        font-size: 11px;
        display: inline-block;
        color: white;
    }
    a:focus {outline: none !important} .optanon-alert-box-wrapper {
                                           background-color: #000000 !important;
                                       }
    .optanon-alert-box-wrapper .optanon-alert-box-bg p {
        color: white !important;
    }
    .optanon-alert-box-wrapper .optanon-alert-box-button-middle {
        background-color: {{ broker.selectedColor }};
        border: 1px solid #6cc04a
    }
    .optanon-allow-all accept-cookies-button {
        text-decoration: none !important;;
    }
</style>
<div class="footer">
    <div class="foot-1 col-lg-12">
        <p class="text-muted">{{ "now"|date('Y') }} {{ 'footer.date'|trans }}</p>
        <p class="text-muted">
            <a href="{{ 'footer.link'|trans }}" target="_blank">
                {{ 'footer.content'|trans }}
            </a>
        </p>
        <br/>
    </div>
    <div class="foot-2 col-lg-12">
        <p class="text-muted text-uppercase policies">
            <a href="https://www.baloise.be/{{ app.request.locale == 'nl' ? 'nl/over-baloise-insurance/wettelijke-bescherming': 'fr/a-propos-de-baloise-insurance/protection-legale' }}/privacy.html" target="_blank">
                Privacy policy
            </a>
        </p>
        <p class="text-muted  text-uppercase policies">
            <a href="https://www.baloise.be/{{ app.request.locale == 'nl' ? 'nl/over-baloise-insurance': 'fr/a-propos-de-baloise-insurance' }}/cookie-policy.html" target="_blank">
                Cookie policy
            </a>
        </p>
        <p class="text-muted  text-uppercase policies">
            <a href="https://www.baloise.be/{{ app.request.locale == 'nl' ? 'nl/over-baloise-insurance/Bepalingen-inzake-gegevensbescherming.html': 'fr/a-propos-de-baloise-insurance/protection-legale/Dispositions-de-protection-des-donn-es-du-site-Web.html' }}" target="_blank">
                {{ app.request.locale == 'nl' ? 'Bepalingen inzake gegevensbescherming': 'DISPOSITIONS DE PROTECTION DES DONNÉES DU SITE WEB' }}
            </a>
        </p>
    </div>
</div>

<!-- OneTrust Cookies Consent Notice start -->
<script src="https://cdn.cookielaw.org/langswitch/ddc4f267-11b6-4b74-9b4a-a3404d98f7f0.js" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
    function OptanonWrapper() { }
</script>
<!-- OneTrust Cookies Consent Notice end -->