{% extends 'base.html.twig' %}
{% block content %}
<section class="choices-wrapper padding--5">
  <div class="container">
    <h1>{{ 'page1.h1'|trans }}</h1>
    <h2>{{ 'page1.h2'|trans }}</h2>
    <div class="choices">
      <ul>

        <li>
          <a href="{{ 'link.arbeid.a'|trans }}">
            <div class="choices__image">
              <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><g fill="none" fill-rule="evenodd"><path d="M0 0h100v100H0z"/><g fill="#008AC9" fill-rule="nonzero"><path d="M80.522 24.03a20.332 20.332 0 0 0-14.472-5.995 20.33 20.33 0 0 0-14.473 5.995l-1.625 1.625-1.625-1.625a20.335 20.335 0 0 0-14.473-5.995A20.33 20.33 0 0 0 19.38 24.03c-7.98 7.98-7.98 20.964 0 28.944L48.426 82.02a2.156 2.156 0 0 0 3.05 0L80.52 52.974a20.332 20.332 0 0 0 5.996-14.473A20.33 20.33 0 0 0 80.52 24.03zm-3.05 25.895l-27.52 27.52-27.52-27.52c-6.3-6.3-6.3-16.547 0-22.846a16.048 16.048 0 0 1 11.422-4.733c4.314 0 8.372 1.68 11.423 4.732l3.15 3.15a2.155 2.155 0 0 0 3.05 0l3.15-3.15a16.05 16.05 0 0 1 11.422-4.733A16.05 16.05 0 0 1 77.47 27.08c6.3 6.298 6.3 16.546 0 22.845z"/><path d="M16.062 45.277H8.156a2.156 2.156 0 1 0 0 4.312h7.906a2.156 2.156 0 1 0 0-4.313z"/><path d="M83.622 45.347H62.986l-3.212-7.063a1.436 1.436 0 1 0-2.663.114L50.55 56.893l-7.98-22.097a1.437 1.437 0 0 0-1.284-.948 1.398 1.398 0 0 0-1.368.824l-5.36 11.393H16.78c-.794 0-1.437.644-1.437 1.438 0 .793.946 1.368 1.74 1.368H35.77c.557 0 .76-.25.998-.755l4.275-9.082 8.167 22.615c.205.57.746.948 1.352.948h.002a1.436 1.436 0 0 0 1.35-.956l6.717-18.927 2.12 4.666c.235.513 1.05.772 1.613.772h21.562c.794 0 1.134-.574 1.134-1.368 0-.793-.645-1.437-1.438-1.437z"/><path d="M90.81 44.558h-6.468a2.156 2.156 0 1 0 0 4.313h6.47a2.156 2.156 0 1 0 0-4.312z"/></g></g></svg>
            </div>
            <span class="choices__title">{{ 'link.arbeid.text'|trans }}</span>
          </a>
        </li>
        <li>
          <a href="{{ path('step1',{'locale': app.request.get('locale')}) }}">
            <div class="choices__image">
              <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
                  <g fill="none" fill-rule="evenodd">
                      <path d="M0 0h100v100H0z"/>
                      <g fill="#008AC9" fill-rule="nonzero">
                          <path d="M21.366 70.47c-.986 0-1.785.8-1.785 1.786 0 .947-.77 1.717-1.716 1.717-.947 0-1.717-.77-1.717-1.717 0-.946.77-1.716 1.717-1.716a1.786 1.786 0 0 0 0-3.571 5.294 5.294 0 0 0-5.288 5.287 5.294 5.294 0 0 0 5.288 5.288 5.294 5.294 0 0 0 5.287-5.288c0-.986-.8-1.785-1.786-1.785zM85.735 70.47c-.987 0-1.786.8-1.786 1.786 0 .947-.77 1.717-1.716 1.717-.947 0-1.717-.77-1.717-1.717 0-.946.77-1.716 1.717-1.716a1.786 1.786 0 0 0 0-3.571 5.294 5.294 0 0 0-5.288 5.287 5.294 5.294 0 0 0 5.288 5.288 5.294 5.294 0 0 0 5.287-5.288c0-.986-.8-1.785-1.785-1.785z"/>
                          <path d="M99.752 47.634l-6.846-11.6c-2.348-3.917-4.564-6.205-8.998-6.592a1.793 1.793 0 0 0-.456-.059H69.754v-3.627a3.576 3.576 0 0 0-3.571-3.571H3.571A3.576 3.576 0 0 0 0 25.756v44.715a3.575 3.575 0 0 0 3.571 3.571h3.726c.853 5.064 5.266 8.934 10.568 8.934s9.713-3.87 10.566-8.934h43.234c.854 5.064 5.266 8.934 10.569 8.934 5.3 0 9.713-3.87 10.566-8.934h5.414c.986 0 1.786-.8 1.786-1.786V48.542c0-.32-.086-.633-.248-.908zm-6.8 6.843c0-.985.8-1.786 1.785-1.786h1.692v3.515h-3.477v-1.73zm2.406-7.262H78.953a1.798 1.798 0 0 0-.364-.037 1.824 1.824 0 0 1-1.822-1.822V38.2h13.27l5.32 9.015zM3.57 25.756h62.612v44.715H28.432c-.853-5.064-5.265-8.934-10.567-8.934-5.302 0-9.715 3.87-10.568 8.934H3.57V25.756zm14.294 53.648c-3.941 0-7.148-3.206-7.148-7.148 0-3.941 3.207-7.148 7.148-7.148 3.94 0 7.147 3.207 7.147 7.148 0 3.942-3.206 7.148-7.147 7.148zm64.369 0c-3.942 0-7.149-3.206-7.149-7.148 0-3.941 3.207-7.148 7.149-7.148 3.94 0 7.146 3.207 7.146 7.148 0 3.942-3.206 7.148-7.146 7.148zM92.8 70.471c-.853-5.064-5.265-8.934-10.566-8.934-5.303 0-9.716 3.87-10.569 8.934h-1.91V32.955h12.74c2.278 0 3.701.48 4.957 1.674h-12.47c-.987 0-1.786.8-1.786 1.786v8.94a5.4 5.4 0 0 0 4.95 5.376c.142.036.29.055.443.055h12.27a5.337 5.337 0 0 0-1.479 3.69v3.516c0 .986.8 1.785 1.786 1.785h5.263v10.694H92.8z"/>
                          <path d="M9.003 32.955h51.749a1.786 1.786 0 0 0 0-3.572H9.002a1.786 1.786 0 0 0 0 3.572z"/>
                      </g>
                  </g>
              </svg>
            </div>
            <span class="choices__title">Transport</span>
          </a>
        </li>
        <li>
          <a href="{{ 'link.brand.a'|trans }}">
            <div class="choices__image">
              <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><g fill="none" fill-rule="evenodd"><path d="M0 0h100v100H0z"/><path fill="#008AC9" d="M82.154 86.656l-26.37-7.066 10.838-2.905 16.984 4.55-1.452 5.42zm-65.033-5.42L82.155 63.81l1.452 5.42-65.033 17.426-1.452-5.42zm0-12.006l1.453-5.42 26.37 7.067-10.838 2.904-16.984-4.55zm68.568 9.66l-13.646-3.656 13.646-3.657a1.4 1.4 0 0 0 .992-1.718l-2.18-8.13a1.403 1.403 0 0 0-1.717-.992l-32.42 8.687-32.42-8.687a1.403 1.403 0 0 0-1.717.992l-2.178 8.13a1.404 1.404 0 0 0 .992 1.717l13.646 3.657L15.04 78.89a1.4 1.4 0 0 0-.992 1.718l2.178 8.13a1.402 1.402 0 0 0 1.718.99l32.42-8.687 32.42 8.69a1.403 1.403 0 0 0 1.717-.993l2.18-8.13a1.405 1.405 0 0 0-.992-1.717z"/><path fill="#008AC9" d="M50.364 64.704c11.6 0 21.04-9.44 21.04-21.04 0-6.95-2.69-14.065-7.995-21.15a1.404 1.404 0 0 0-2.247 1.68c4.934 6.59 7.435 13.14 7.435 19.47 0 10.055-8.18 18.235-18.234 18.235-10.056 0-18.236-8.18-18.236-18.236 0-4.936 1.64-12.758 9.444-21.99 4.743-5.61 9.562-9.098 9.608-9.13a1.402 1.402 0 1 0-1.633-2.28c-.208.147-5.11 3.69-10.073 9.546-6.64 7.837-10.15 16.086-10.15 23.854 0 11.6 9.438 21.04 21.04 21.04"/><path fill="#008AC9" d="M57.742 20.064a1.4 1.4 0 0 0 1.982.095c.573-.523.614-1.41.093-1.983a65.657 65.657 0 0 0-3.335-3.407 1.402 1.402 0 1 0-1.933 2.032 63.36 63.36 0 0 1 3.192 3.262M49.546 29.9c-.11.078-2.692 1.944-5.294 5.016-3.517 4.15-5.375 8.537-5.375 12.69 0 6.334 5.153 11.487 11.486 11.487 6.334 0 11.487-5.153 11.487-11.486a1.402 1.402 0 1 0-2.805 0c0 4.786-3.894 8.68-8.682 8.68-4.786 0-8.68-3.894-8.68-8.68 0-6.994 6.38-12.886 8.682-14.785.445.364 1.04.876 1.706 1.512a1.404 1.404 0 0 0 1.937-2.03c-1.577-1.504-2.775-2.368-2.825-2.404a1.402 1.402 0 0 0-1.636 0"/><path fill="#008AC9" d="M58.92 38.25c-.322-.514-.67-1.036-1.04-1.545a1.403 1.403 0 0 0-2.273 1.645c.33.456.642.92.93 1.38.393.635.745 1.277 1.047 1.91a1.405 1.405 0 0 0 1.87.66 1.403 1.403 0 0 0 .66-1.87 22.844 22.844 0 0 0-1.195-2.18"/></g></svg>
            </div>
            <span class="choices__title">{{ 'link.brand.text'|trans }}</span>
          </a>
        </li>
        <li>
          <a href="{{ 'link.decenale.a'|trans }}">
            <div class="choices__image">
              <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 149.73 161.9"><defs><style>.cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#00b6ed;}.cls-4{fill:#fff;}</style><clipPath id="clip-path" transform="translate(-67 -61.56)"><rect class="cls-1" x="67" y="61.56" width="149.73" height="161.9"></rect></clipPath></defs><title>Icoon Safer Business</title><g class="cls-2"><path class="cls-3" d="M195.47,151.29v-7.16H169.68v7.15Zm-44.84-23.92v7.15h44.83v-7.16Zm-9.06-17.07H128.47v7.16h13.09Zm53.9,0-44.84,0v7.15l44.84,0Zm-67-9.91h38V93.23h-38Zm58.85-8a1.51,1.51,0,0,1-1.49-1.49V73.75l18.69,18.61Zm28.39,1L184.74,62.6a3.58,3.58,0,0,0-2.52-1h-66.4a8.66,8.66,0,0,0-8.65,8.65V99.41a3.58,3.58,0,0,0,7.16,0V70.21a1.51,1.51,0,0,1,1.49-1.49h62.82V90.86a8.66,8.66,0,0,0,8.65,8.65h22.29v88.84a1.51,1.51,0,0,1-1.49,1.49h-42.5a3.58,3.58,0,0,0,0,7.16h42.5a8.66,8.66,0,0,0,8.65-8.65V95.93a3.58,3.58,0,0,0-1.05-2.54" transform="translate(-67 -61.56)"></path></g><rect class="cls-4" x="60.36" y="47.35" width="16.72" height="9.63"></rect><g class="cls-2"><path class="cls-3" d="M153.92,217.63a.85.85,0,0,1-.85.85H146.8V199.6l3.9.85a4.18,4.18,0,0,1,3.22,4.08Zm-81.94,0V204.53a4.18,4.18,0,0,1,3.22-4.08l3.64-.8v18.82h-6a.85.85,0,0,1-.85-.85m15.83-50.46a8.12,8.12,0,0,1,.13-4.39,3.48,3.48,0,0,1,.52-1c0,.76,0,1.52.11,2.28A46.14,46.14,0,0,0,89.69,171a8.18,8.18,0,0,1-1.88-3.78m1.33-21.52a2.49,2.49,0,0,0,.6-.08c.19,0,.39,0,.6,0h45.55a4,4,0,0,0,.84-.08v.12c.67,0,2.43,2.5,3.09,5.11a50,50,0,0,1-5.88,3.12h-.31a2.47,2.47,0,0,0-1.59.8,50.83,50.83,0,0,1-7,2.25,52.24,52.24,0,0,1-10.32,1.38,51.44,51.44,0,0,1-19.87-3.25,48.66,48.66,0,0,1-8.73-4.31c.59-2.43,2.29-5,3.07-5.11m3.59-11.54a20.89,20.89,0,0,1,11.7-13.17l.21-.09c0,1.92,0,3.83,0,5.7V132c0,.57,0,.57,0,1.16v1.49a2.49,2.49,0,0,0,2.49,2.47h0a2.49,2.49,0,0,0,2.47-2.51v-1.5c0-.57,0-.57,0-1.12v-5.48c0-3.35,0-6.8,0-10.2a3.31,3.31,0,0,1,6.57-.44,27,27,0,0,1,.09,3.84c0,.58,0,1.17,0,1.75,0,6,0,7.13,0,13.12a2.49,2.49,0,0,0,2.48,2.5h0a2.49,2.49,0,0,0,2.49-2.48c0-6,0-7.14,0-13.13,0-.18,0-.36,0-.54l.07,0c1.08.5,2.42,1.13,2.95,1.47a20.82,20.82,0,0,1,9.17,12.7,22.56,22.56,0,0,1,.59,5.47H91.84a21.72,21.72,0,0,1,.89-6.51m45,33.06a7.34,7.34,0,0,1-2.53,4.36A44,44,0,0,0,136.3,164c.05-1,.09-1.88.11-2.68.44.11.88.65,1.18,1.46a8.11,8.11,0,0,1,.13,4.39m-22.64,47.37,14.63-18.68,3,.67v22H115.08Zm-2.45-5L100.4,193.27V189a18.5,18.5,0,0,0,11.2,4H114a18.54,18.54,0,0,0,11.52-4.28v4.44ZM93.54,163.65a36.78,36.78,0,0,1-.09-3.78,57.43,57.43,0,0,0,9.58,2.58,2.49,2.49,0,0,0-2,2.44V167a2.49,2.49,0,0,0,5,0V164.9a2.49,2.49,0,0,0-1.26-2.17,55.86,55.86,0,0,0,8.09.59q1,0,2,0a58.8,58.8,0,0,0,6.78-.64,2.49,2.49,0,0,0-1.42,2.25V167a2.49,2.49,0,0,0,5,0V164.9a2.49,2.49,0,0,0-2.19-2.47q1.6-.28,3.15-.65,2.69-.65,5.29-1.55c0,1-.05,2.13-.12,3.51-.3,5.64-2.31,13.47-6.11,18.23-3.08,3.85-7.08,6-11.25,6h-2.34c-4.2,0-8.2-2.19-11.28-6-3.89-4.86-6.17-11-6.8-18.31m-5.63,54.83H83.82V199a2.5,2.5,0,0,0,0-.4l4.13-.91Zm5-21.91,3.22-.71,14,18.65v4H92.89Zm48.93,21.91h-4.09V197.61l4.14.91a2.5,2.5,0,0,0,0,.45Zm10-22.88h0l-21.3-4.67v-7.78a32.49,32.49,0,0,0,3.1-6.27,5.81,5.81,0,0,0,.62,0c3.7,0,7.23-3.53,8.38-8.64a13,13,0,0,0-.31-7.18,7.33,7.33,0,0,0-3.34-4.09q2.2-1.15,4.29-2.49a3.39,3.39,0,0,0,1.71-3.48c-.41-3-2.48-8.12-5.9-9.8a28.91,28.91,0,0,0-.75-7.33A25.94,25.94,0,0,0,127,118.27a33.22,33.22,0,0,0-3.56-1.81c-.8-.37-1.62-.75-2.09-1l-.18-.09v-.08a8.29,8.29,0,0,0-16.43.14c-.75.3-2.19.9-2.35,1A26,26,0,0,0,88,132.57a27.68,27.68,0,0,0-1.13,8.64c-3.44,1.69-5.53,6.9-5.89,9.8a3.36,3.36,0,0,0,1.55,3.39q2.08,1.35,4.26,2.5a7.27,7.27,0,0,0-3.52,4.18,13,13,0,0,0-.31,7.18c1.15,5.11,4.68,8.64,8.38,8.64h.29a34.48,34.48,0,0,0,3.8,6.81v7.22l-21.3,4.68h0A9.14,9.14,0,0,0,67,204.53v13.09a5.84,5.84,0,0,0,5.83,5.83h80.23a5.84,5.84,0,0,0,5.83-5.83V204.53a9.14,9.14,0,0,0-7.07-8.93" transform="translate(-67 -61.56)"></path></g></svg>
            </div>
            <span class="choices__title">{{ 'link.decenale.text'|trans }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}
