<section class="step-tabs">
    <div class="container step-tabs__navigation step-tabs__navigation--button-below">
        <ol>
            <li class="{{ step_nr == 1?'active':'' }}">
                <a href="{{ path('step1',{'locale': app.request.get('locale')}) }}">{{ 'step.1'|trans }}</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="50" viewBox="0 0 20 50"><g fill="none" fill-rule="evenodd"><path d="M0 0h20v50H0z"/><path d="M3 39.002l14-14L3 11" class="step-tabs__arrow" /></g></svg>
            </li>
            <li class="{{ step_nr == 2?'active':'' }}">
                <a href="{{ path('step2',{'locale': app.request.get('locale')}) }}">{{ 'step.2'|trans }}</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="50" viewBox="0 0 20 50"><g fill="none" fill-rule="evenodd"><path d="M0 0h20v50H0z"/><path d="M3 39.002l14-14L3 11" class="step-tabs__arrow" /></g></svg>
            </li>
            <li class="{{ step_nr == 3?'active':'' }}">
                <a href="{{ path('step3',{'locale': app.request.get('locale')}) }}">{{ 'step.3'|trans }}</a>
            </li>
        </ol>
        <!--<a href="https://drivolution.be/nl-BE" target="_blank" class="btn btn--primary btn--next">Drivolution</a>-->
    </div>
</section>
