{% extends 'base.html.twig' %}
{% block content %}
  <section class="step-tabs drop-shadow">
    <div class="container step-tabs__navigation">
      <h1>Nieuws</h1>
      <a href="{{ path('index') }}" class="btn btn--primary btn--previous">{{ 'prev'|trans }}</a>
    </div>
  </section>
  <section class="padding--2">
    <div class="container">
      {% for item in newses %}
      <article class="news">
        <header class="news__header">
          <h2 class="news__title">{{ item.title }}</h2>
            {{ dump(item.date) }}
          <span class="news__date">{{ item.date|date("d/m/Y") }}</span>
        </header>
        <div class="news__content">
          <img src="http://via.placeholder.com/400x200" alt="" class="news__image">
         {{ item.content|raw }}
        <div class="clearfix"></div>
        </div>
      </article>
     {% endfor %}
    </div>
  </section>

{% endblock %}

 {% block after_footer %}

  <!-- SVG's -->
  <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
    <symbol xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" id="icn-car"><g fill="none" fill-rule="evenodd"><path d="M0 60h60V0H0z"/><g fill="#008AC9"><path d="M12.414 41.778a1.31 1.31 0 0 1-1.31-1.31 1.31 1.31 0 1 1 1.31 1.31m0-4.572A3.267 3.267 0 0 0 9.15 40.47c0 1.8 1.464 3.263 3.264 3.263 1.8 0 3.263-1.465 3.263-3.264 0-1.8-1.464-3.264-3.263-3.264m34.114 4.572a1.31 1.31 0 0 1-1.31-1.31 1.31 1.31 0 1 1 1.31 1.31m0-4.572a3.267 3.267 0 0 0-3.263 3.263c0 1.8 1.464 3.263 3.263 3.263a3.267 3.267 0 0 0 3.263-3.264c0-1.8-1.463-3.264-3.262-3.264"/><path d="M53.048 39.854a6.468 6.468 0 0 0-.225-1.188h4.655l-.136 1.188h-4.294zm-6.52-5.934a6.546 6.546 0 0 0-5.36 2.79H23.775a.978.978 0 1 0 0 1.956h16.458c-.11.383-.187.78-.224 1.188H18.933c-.312-3.324-3.116-5.934-6.52-5.934a6.543 6.543 0 0 0-5.36 2.79H1.956v-6.697c0-.972.653-1.835 1.588-2.098A8.5 8.5 0 0 0 9.4 22.022l.124-.45a8.213 8.213 0 0 1 7.898-6.017h15.834a5.95 5.95 0 0 1 5.036 2.815l4.904 7.97a.977.977 0 0 0 .722.46l9.192 1.05a5.57 5.57 0 0 1 4.52 3.425h-3.052a.978.978 0 0 0 0 1.955h3.464c.006.258-.003.517-.033.78l-.31 2.7h-5.813a6.543 6.543 0 0 0-5.36-2.79zm0 11.144a4.6 4.6 0 0 1-4.595-4.595 4.6 4.6 0 0 1 4.595-4.596 4.6 4.6 0 0 1 4.594 4.595 4.6 4.6 0 0 1-4.594 4.594zm-34.115 0A4.6 4.6 0 0 1 7.82 40.47a4.6 4.6 0 0 1 4.593-4.596 4.6 4.6 0 0 1 4.596 4.595 4.6 4.6 0 0 1-4.597 4.594zM1.955 38.666H6.12a6.57 6.57 0 0 0-.225 1.188h-3.94v-1.188zm51.378-12.758l-8.72-.996-4.655-7.567a7.92 7.92 0 0 0-6.702-3.745H17.422a10.174 10.174 0 0 0-9.783 7.454l-.125.45a6.536 6.536 0 0 1-4.502 4.53A4.15 4.15 0 0 0 0 30.013V40.83c0 .54.437.98.977.98h5.025c.62 2.97 3.26 5.21 6.41 5.21 3.154 0 5.793-2.24 6.413-5.21h21.292c.62 2.97 3.26 5.21 6.41 5.21 3.154 0 5.792-2.24 6.412-5.21h5.274a.977.977 0 0 0 .97-.87l.767-6.708c.47-4.118-2.498-7.853-6.617-8.324z"/><path d="M33.307 28.36h-2.055a.978.978 0 0 0 0 1.953h2.055a.978.978 0 0 0 0-1.954m-13.127.976a.978.978 0 0 0-.977-.977H17.15a.978.978 0 0 0 0 1.953h2.053c.54 0 .977-.438.977-.977m1.21 7.978a.987.987 0 0 0-1.044-.592.99.99 0 0 0-.81.753c-.195.848.79 1.507 1.504 1.02a.984.984 0 0 0 .35-1.18m6.546-12.463v-6.148h5.32a2.78 2.78 0 0 1 2.354 1.317l2.972 4.83H27.936zm-15.5-1.996l.124-.448a5.05 5.05 0 0 1 2.466-3.095v5.538h-3.11c.165-.65.366-1.43.52-1.994zm13.545-4.152v6.148h-9v-6.128c.146-.013.293-.02.44-.02h8.56zm11.295.293a4.746 4.746 0 0 0-4.02-2.248H17.42a7.016 7.016 0 0 0-6.745 5.14l-.123.45a161.22 161.22 0 0 0-.837 3.255.978.978 0 0 0 .948 1.212H40.33a.976.976 0 0 0 .833-1.49l-3.888-6.32z"/></g></g></symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="60" viewBox="0 0 60 60" id="icn-hands"><defs><path id="a" d="M60 44.48H0V0h60v44.48z"/></defs><g fill="none" fill-rule="evenodd"><path d="M0 60h60V0H0z"/><g transform="translate(0 8)"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><path fill="#008AC9" d="M53.223 17.428L42.943 7.146l4.462-4.463 10.28 10.282-4.462 4.463zm-5.395 3.034a4.496 4.496 0 0 0-1.262 2.388 13.134 13.134 0 0 1-3.655 6.996l-.736.737-6.062-6.063a4.884 4.884 0 0 0 2.265-.347.958.958 0 1 0-.727-1.774c-2.466 1.01-5.423-1.773-5.752-2.093l-.016-.016-.034-.033-.03-.03-.808-.807.915-.915a.958.958 0 1 0-1.355-1.355l-1.59 1.59h-.002l-.002.003L25.32 22.4a1.93 1.93 0 0 1-3.29-1.363c0-.515.2-.998.566-1.363l6.31-6.31a6.32 6.32 0 0 1 4.49-1.86c.9 0 1.81.195 2.625.566 1.857.842 4.063.45 5.49-.977l1.335-1.333 7.843 7.843-2.86 2.86zm-6.036 14.295a1.296 1.296 0 0 1-.92.383c-.35 0-.678-.137-.924-.383l-9.297-9.294a.96.96 0 0 0-1.354 1.355L39.31 36.83c.247.246.382.573.382.922 0 .35-.135.677-.38.923-.51.51-1.34.51-1.848 0l-1.69-1.69-.03-.028-.003-.005-7.77-7.77a.958.958 0 1 0-1.354 1.356l7.79 7.79c.24.245.37.568.37.91a1.305 1.305 0 0 1-2.226.923l-8.448-8.446a.958.958 0 1 0-1.356 1.355l6.263 6.26a1.292 1.292 0 0 1 .386.927 1.3 1.3 0 0 1-.384.924 1.295 1.295 0 0 1-1.17.36 3.45 3.45 0 0 0-.97-2.95 3.43 3.43 0 0 0-2.44-1.01l-.076.002a3.44 3.44 0 0 0-1.007-2.515 3.424 3.424 0 0 0-2.61-1.006 3.447 3.447 0 0 0-1.006-2.61 3.45 3.45 0 0 0-3.216-.918l-.687-.687a13.136 13.136 0 0 1-3.64-6.91 4.834 4.834 0 0 0-1.344-2.542l-1.69-1.69 9.612-9.61 2.394 2.395a4.885 4.885 0 0 0 3.458 1.414c.575 0 1.156-.1 1.716-.303a4.56 4.56 0 0 1 .837-.216L21.24 18.32a3.818 3.818 0 0 0-1.126 2.717c0 1.027.4 1.992 1.126 2.718a3.824 3.824 0 0 0 2.717 1.123 3.83 3.83 0 0 0 2.718-1.123l2.98-2.98.807.807.034.035.032.03v.002c.01.01.02.017.03.026L41.792 32.91c.246.247.38.574.38.923 0 .35-.134.677-.38.923zm-16.275 7.356a1.52 1.52 0 0 1-1.084.45 1.535 1.535 0 0 1-1.084-2.617 1.53 1.53 0 0 1 1.083-.448 1.53 1.53 0 0 1 1.084 2.615zm-3.523-3.522a1.52 1.52 0 0 1-1.084.45 1.534 1.534 0 0 1-1.083-2.616c.3-.3.692-.448 1.084-.448a1.532 1.532 0 0 1 1.084 2.614zm-3.615-3.614a1.535 1.535 0 0 1-2.168 0 1.52 1.52 0 0 1-.45-1.083 1.526 1.526 0 0 1 1.534-1.532 1.53 1.53 0 0 1 1.083 2.616zM6.775 18.374L2.313 13.91l11.6-11.596 4.462 4.463-11.6 11.597zm52.943-6.087L48.082.65a.958.958 0 0 0-1.355 0l-5.82 5.818a.958.958 0 0 0 0 1.355l.58.582-1.332 1.332c-.867.866-2.21 1.102-3.344.588a8.326 8.326 0 0 0-3.417-.738c-1.392 0-2.753.35-3.963 1.012a6.448 6.448 0 0 0-3.75.2c-1.13.41-2.343.155-3.164-.666L20.123 7.74l.284-.285a.957.957 0 0 0 0-1.355L14.59.28a.96.96 0 0 0-1.355 0L.28 13.234a.958.958 0 0 0 0 1.355l5.817 5.82a.962.962 0 0 0 1.357 0l.346-.35 1.69 1.69c.426.425.71.958.817 1.538a15.043 15.043 0 0 0 4.168 7.913l.318.32a3.424 3.424 0 0 0-.947 2.372c0 .92.358 1.788 1.01 2.44a3.44 3.44 0 0 0 2.61 1.003 3.44 3.44 0 0 0 1.005 2.61 3.428 3.428 0 0 0 2.44 1.01h.077a3.437 3.437 0 0 0 1.006 2.514 3.43 3.43 0 0 0 2.44 1.01 3.43 3.43 0 0 0 2.595-1.18 3.196 3.196 0 0 0 3.34-.765 3.22 3.22 0 0 0 .728-1.116l.097.097a3.21 3.21 0 0 0 2.278.942c.825 0 1.65-.315 2.278-.943.335-.334.585-.728.743-1.157a3.226 3.226 0 0 0 5.028-3.37 3.188 3.188 0 0 0 1.63-.878 3.198 3.198 0 0 0 .943-2.278 3.19 3.19 0 0 0-.594-1.864l.77-.77a15.052 15.052 0 0 0 4.186-8.01c.09-.512.344-.986.73-1.374l2.86-2.858.503.502c.187.188.432.28.677.28a.953.953 0 0 0 .678-.28l5.818-5.818a.955.955 0 0 0 0-1.355z" mask="url(#b)"/></g></g></symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="60" viewBox="0 0 60 60" id="icn-steeringwheel"><defs><path id="a" d="M0 60h60V0H0z"/></defs><g fill="none" fill-rule="evenodd"><path d="M0 60h60V0H0z"/><path fill="#008AC9" d="M30 54.556c13.54 0 24.556-11.015 24.556-24.556C54.556 16.46 43.54 5.444 30 5.444 16.46 5.444 5.444 16.46 5.444 30 5.444 43.54 16.46 54.556 30 54.556zM30 3.75c14.475 0 26.25 11.776 26.25 26.25S44.475 56.25 30 56.25 3.75 44.474 3.75 30 15.525 3.75 30 3.75z"/><path fill="#008AC9" d="M47.232 34.31c-1.615-1.326-4.718-3.463-7.917-3.463-3.99 0-6.774 3.134-6.774 7.62 0 3.644 1.61 6.83 2.67 8.534a17.743 17.743 0 0 1-10.418 0c1.06-1.703 2.668-4.89 2.668-8.533 0-4.486-2.786-7.62-6.775-7.62-3.198 0-6.3 2.138-7.917 3.462a17.683 17.683 0 0 1-.55-4.31c0-.792.07-1.566.17-2.33C17.023 23.352 23.71 20.685 30 20.685c6.29 0 12.98 2.667 17.61 6.983.102.764.172 1.538.172 2.33a17.72 17.72 0 0 1-.55 4.31m-10.388 12.1c-.924-1.425-2.61-4.49-2.61-7.943 0-3.6 1.994-5.926 5.08-5.926 3.046 0 6.193 2.493 7.376 3.535a17.86 17.86 0 0 1-9.846 10.334M13.308 36.072c1.182-1.04 4.323-3.533 7.377-3.533 3.087 0 5.08 2.327 5.08 5.927 0 3.44-1.687 6.514-2.61 7.94a17.86 17.86 0 0 1-9.847-10.334M30 12.217c8.055 0 14.866 5.388 17.045 12.745-4.793-3.727-11.087-5.97-17.045-5.97-5.958 0-12.252 2.243-17.045 5.97 2.18-7.357 8.99-12.745 17.045-12.745m19.22 14.64l.002-.002-.004-.004C47.708 17.606 39.666 10.525 30 10.525s-17.708 7.08-19.218 16.326a.022.022 0 0 0-.003.003l.002.004A19.552 19.552 0 0 0 10.524 30c0 10.738 8.736 19.476 19.476 19.476 10.74 0 19.476-8.737 19.476-19.476 0-1.07-.09-2.118-.257-3.142"/><path fill="#008AC9" d="M30 30c-1.4 0-2.54-1.14-2.54-2.54 0-1.4 1.14-2.54 2.54-2.54 1.4 0 2.54 1.14 2.54 2.54 0 1.4-1.14 2.54-2.54 2.54m0-6.774a4.24 4.24 0 0 0-4.235 4.234c0 2.334 1.9 4.233 4.235 4.233a4.24 4.24 0 0 0 4.234-4.233c0-2.335-1.9-4.234-4.234-4.234"/><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><path fill="#008AC9" d="M22.38 28.306h1.693v-1.693H22.38zm13.547 0h1.694v-1.693h-1.693zM27.46 52.863h1.693V51.17H27.46zm3.387 0h1.693V51.17h-1.693z" mask="url(#b)"/></g></symbol>
  </svg>
  <!-- Begin Cookie Consent plugin -->

 {% endblock %}

