<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <title></title>
    <!--[if !mso]><!-- -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        #outlook a {
            padding: 0;
        }

        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass * {
            line-height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        table, td {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }

        p {
            display: block;
            margin: 13px 0;
        }

        .bold {
            line-height: 18px;
            font-size: 18px;
            font-weight: bold;
            color: #008ac9;
        }

        td.bold {
            padding: 1rem;
        }

        .pad-5 {
            padding: 5px 0;
        }

        .row-odd, .row-even {
            height: auto;
            display: flex;
        }

        .row-even {
            background-color: #e5f3f9;
        }

        .row{
            display:flex;
            align-items: center;
            padding:10px;
        }

        *{
            font-family:Helvetica !important;
        }

        .heading{
            font-size: 28px; line-height: 28px; font-weight: bold; color: #003399; padding-bottom: 21px; border-bottom: 2px solid #008ac9;
        }
        .left{
            width: 300px;
        }
        .right{
            width:150px;

        }
        .mj-container{
            width:500px;
            margin: 20px auto;
        }

        .row {
            display: -webkit-box; /* wkhtmltopdf uses this one */
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center; /* wkhtmltopdf uses this one */
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-align-items: center;
        }
        h2.bold {
            font-size: 32px;
        }

        .product img {
            float: right;
        }

        ul.list--checkboxes {
            list-style: none;
            padding: 0;

        }

        ul.list--checkboxes li {
            display: flex;
            align-items: center;
        }



        .list--checkboxes span {
            font-weight: bold;
        }

        .extra-optional-desc {
            margin: 0 0 1rem;
        }

        .list-indent {
            padding-left: 1rem;
        }

        .extra-optional-desc {
            margin-top: 1rem;
        }

        .product__intro-text p {
            margin-bottom: 1rem;
        }

        .product__extra ul {
            list-style: none;
        }

        .product__extra ul br {
            display: none;
        }

        li.li-primary {
            margin-bottom: 0.5rem;
            display: -webkit-box; /* wkhtmltopdf uses this one */
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: start; /* wkhtmltopdf uses this one */
            -webkit-justify-content: flex-start;
            justify-content: start;
            -webkit-align-items: center;
            align-content: center;
            -webkit-align-content: center;
            line-height: 20px;
            -ms-flex-align: center;
            -webkit-align-items: center;
            -webkit-box-align: center;

        }

        li.li-primary span,
        li.li-primary svg{
            display: -webkit-box;
            display: flex;
            align-items: center;
            justify-content: center;
            flex:1;
        }
        li.li-primary svg{
            margin-right: 10px;
        }
        .product__intro img {
            float: right;
            width: 40%;
            margin-left: 0.5rem;
        }

        .optionals-header {
            clear: both;
        }
        .li-primary ul {
            list-style: none;
        }

        div.row{
            page-break-inside: avoid !important;
        }
    </style>
</head>
<body>

<div class="mj-container">


    <div style="margin:0px auto;max-width:500px;">


    <div style="cursor:auto;color:#000000;font-family:Helvetica, Arial, sans-serif;;font-size:16px;line-height:22px;text-align:left;">

            <h1 class="heading">
                Persoonlijke info
            </h1>

        </div>

        <div class="product">

        {% set prop = [
            'name','kbo','postcode','street','contact','telephone','email','sector','tractor','trailers','hasTruck',
            'activity', 'otherActivity',
            'goods',
            'isRisky',
            'hasRegulation',
            'regulations',
            'region','extraRegion','hasBranch',
            'extraBranch', 'isContracter', 'contracterCountries',
            'hasAdditional','turnover','employees'
            ] %}
            {% set class='even' %}
            {% set row_count = 0 %}
            {% for pr in prop %}

                {% set val = attribute(prospect,pr) %}
                {% if val %}
                    {% set row_count = row_count + 1 %}

                    {% if val == '1' %}
                        {% set val = 'yes'|trans %}
                        {% endif %}
                    {% if val == '0' %}
                        {% set val = 'no'|trans %}
                        {% endif %}
                <div class="row row-{{ class }}">

                    <div class="bold left">
                        {{ pr|trans }}
                    </div>

                    <div class="right">
                        {{ val }}
                        </div>
                </div>
                    {% set class= class == 'even'? 'odd' : 'even' %}

                {% endif %}


            {% endfor %}


        </div>
    </div>

    <div style="margin:0px auto;max-width:500px;">
        <div style="cursor:auto;color:#000000;font-family:Helvetica, Arial, sans-serif;;font-size:16px;line-height:22px;text-align:left;">
            <h1 class="heading"
                style="font-size: 28px; line-height: 28px; font-weight: bold; color: #003399; padding-bottom: 21px; border-bottom: 2px solid #008ac9;">
                Gekozen producten</h1>
        </div>
        {% set chosenProducts = prospect.products|trim(';')|lower|split(';') %}


        {% set products=[] %}
        {% if 'ba' in chosenProducts %}
            {% set products = products|merge([ba]) %}
        {% endif %}

        {% if 'vrd' in chosenProducts %}
            {% set products =products|merge([vrd]) %}
        {% endif %}

        {% if 'cmr' in chosenProducts %}
            {% set products = products|merge([cmr]) %}
        {% endif %}

        {% for product in products %}
            <h2 class="bold" id="{{ product.name|upper }}">{{ ('product.title.'~product.name|lower)|trans }}</h2>
            <div class="product">
                <div class="product__header">
                    <h3 class="bold">{{ ('product.header.'~product.name|lower )|trans }}</h3>
                </div>
                <div class="product__intro">
                    <div class="product__intro-text">
                        {#<img  src="{{ asset(product_images ~ '/' ~ product.image)  }}" alt="" class="product__image">#}

                        <p>{{ (locale == 'nl'? product.descriptionNl: product.descriptionFr)|raw }}</p>

                    </div>

                </div>


                {% set optionals = attribute(prospect,'optionals'~product.name|lower)|trim(';')|split(';') %}

                {% if optionals[0] != '' %}
                <h3 class="bold optionals-header">{{ 'product.optionals.header'|trans }}</h3>
                <ul class="list--checkboxes">

                    <style>
                        .c1{fill:#00529B;}
                    </style>
                    {% for i in optionals %}

                        <li class="li-primary">
                            <svg height="20px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="20px"  viewBox="0 0 448.8 448.8" style="enable-background:new 0 0 448.8 448.8;" xml:space="preserve">
<g>
    <g id="done">
        <polygon points="142.8,323.85 35.7,216.75 0,252.45 142.8,395.25 448.8,89.25 413.1,53.55   " fill="#008AC9"/>
    </g>
</g>

</svg>
                            <span>{{ ('product.optionals.'~product.name|lower~'.'~i)|trans|raw }}</span>

                        </li>
                        {% if product.name|lower in ['ba','vrd'] %}
                            <div class="extra-optional-desc">
                                {{ ('product.optionals.'~product.name|lower~'.p.'~i)|trans|raw }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </ul>

                {% endif %}


                {% if product.name|lower == 'vrd' %}
                    {% set extras = attribute(prospect,'extras'~product.name|lower)|trim(';')|split(';') %}
                    {% if extras[0] %}

                <div class="product__extra">

                        {% for i in extras %}
                            <h3 class="bold">{{ ('product.extra.header.'~i)|trans }}</h3>
                            <p>{{ ('product.extra.text.'~i)|trans|raw|nl2br }}</p>

                        {% endfor %}
                </div>
                    {% endif %}

                {% endif %}

            </div>
        {% endfor %}


    </div>
</div>


</body>
</html>