{% extends 'base.html.twig' %}
{% set step_nr = 1 %}

{% block content %}
  {% include 'nav.html.twig' %}
  <section class="form padding--2">
    <div class="container">
        <style>
            .form button[type=submit]{
                display: none;
            }


            label[for=form_activity],
            label[for=form_activity]+input,
            label[for=form_goods],
            label[for=form_goods]+input,

            label[for=form_region],
            label[for=form_region]+input

            {
                display:none;
            }

            ul[id^=instead]{
                margin-bottom: 1rem;
            }
            form select.error,
            .dropdown.error:after,
            .special-check.error label,
            .special-check.error label:before

            {
                border-color: #ff3366 !important;
                color: #ff3366 !important;

            }

            label.required:after{
                content:'*'
            }


            ul[id^=instead] + div {
                display: none;
            }
            .ui-menu{
                background: white;
                max-height: 150px;
                overflow-y: scroll;
                border: 1px solid;
                border-top: none;
                box-shadow: 0px 5px 5px lightgrey;
            }
            .ui-menu li{
                padding: 0.5rem 1rem;
            }
        </style>
        {% form_theme form 'form/fields.html.twig' %}
        {{ form_start(form, {'attr': {'class':'form--small', 'novalidate':'novalidate'}}) }}
        {{ form_widget(form, {'attr': {'class':'form-wrapper'}}) }}



        {% set choiceCount = [5,3,4] %}
        {% set k = 0 %}

        {% for opt in ['goods','region','activity'] %}
            {% set j = 1 %}

            <ul id="instead_{{ opt }}">
            <li>
                <label class="required">
                    {{ opt|trans }}
                </label>
                <ul class="checkboxes special-check">
                    {% for i in 1..choiceCount[k] %}
                    <li>
                        <input type="checkbox" id="form_{{ opt }}_opt{{ i }}" onchange="toggleCheckbox(this)"
                        value="{{ ('choice.'~opt~'.'~j)|trans([],null,'nl') }}">
                        <label for="form_{{ opt }}_opt{{ i }}">
                            {{ ('choice.'~opt~'.'~j)|trans }}
                        </label>
                    </li>
                        {% set j=j+1 %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
            {% set k = k+1 %}
        {% endfor %}
        {{ form_end(form) }}



    </div>
  </section>

{% endblock %}

{% block buttons %}
  <div class="buttons">
    <div class="container">
      <a class="btn btn--secondary btn--previous" href="{{ path('index') }}">{{ 'prev'|trans }}</a>
      <button class="btn btn--primary btn--next" >{{ 'next'|trans ~ (locale == 'nl'? 2:'') }}</button>
    </div>
  </div>

{% endblock %}

{% block after_footer %}
  <!-- SVG's -->
  <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">

    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4.61 11.53" id="info-i"><defs></defs><g data-name="Layer 2"><path d="M4.07 11l-1 .42a2.32 2.32 0 0 1-.86.15 1.58 1.58 0 0 1-1.16-.41 1.42 1.42 0 0 1-.41-1.05 4.38 4.38 0 0 1 0-.51q0-.29.1-.58l.56-2.11c0-.2.09-.39.12-.56a2.84 2.84 0 0 0 0-.49.82.82 0 0 0-.14-.55.75.75 0 0 0-.55-.15 1.26 1.26 0 0 0-.41.07L0 5.36l.14-.64q.51-.23 1-.4A2.56 2.56 0 0 1 2 4.16a1.55 1.55 0 0 1 1.15.41 1.44 1.44 0 0 1 .4 1.06v.47a3.59 3.59 0 0 1-.1.62l-.57 2.06q-.07.28-.11.56a3.42 3.42 0 0 0 0 .48.74.74 0 0 0 .16.56.82.82 0 0 0 .56.15 1.45 1.45 0 0 0 .42-.07 2.1 2.1 0 0 0 .34-.13zm-.71-8.5a1.21 1.21 0 0 1-.89-.36 1.2 1.2 0 0 1-.37-.88 1.21 1.21 0 0 1 .37-.89A1.21 1.21 0 0 1 3.36 0a1.2 1.2 0 0 1 .88.37 1.21 1.21 0 0 1 .37.89 1.2 1.2 0 0 1-.37.88 1.2 1.2 0 0 1-.88.36z" id="Layer_1-2" data-name="Layer 1"/></g></symbol>
  </svg>
  <!--       -->
{% endblock %}

{% block scripts %}

    <script src="{{ asset('assets/js/codes.js') }}"></script>
    <script>


        $(document).ready(function() {
            $('#form_postCode').autocomplete({
                source: codes, open: function (event, ui) {
                    $('.ui-autocomplete').off('menufocus hover mouseover mouseenter');
                }
            });

            $('.ui-menu').css('max-width',$('#form_postCode').outerWidth());
        });
        var goodsDiv = $('#form_goods');
        var activityDiv = $('#form_activity');
        var regionDiv = $('#form_region');

        $('#instead_goods').insertAfter(goodsDiv.parent());
        $('#instead_activity').insertAfter(activityDiv.parent());
        $('#instead_region').insertAfter(regionDiv.parent());
        function addVal(input,val){
            var custom_val = input.val() + ';' + val;
            input.val(custom_val.replace(';;',';').replace(/^\;+|;+$/g,''));
        }
        function removeVal(input,val){
            var custom_val = input.val().replace(val,'').replace(';;',';').replace(/^\;+|;+$/g,'');

            input.val(custom_val);
        }
        function toggleCheckbox(element){

            var id = $(element).attr('id');
            var selectId = $('#'+id.substr(0,id.indexOf('opt')-1));


            if($(element).is(':checked')){
                addVal(selectId, $(element).val())
            } else {
                removeVal(selectId, $(element).val())
            }
        }

        $(document).on('change',"input,select",function(){
         $(this).removeClass('error').parent().removeClass('error');

        });

        $(document).on('change','input[type=checkbox]',function(){
            $(this).removeClass('error').parent().parent().removeClass('error');

        });

        {##}
        {#function createCheckboxes(select, optCount){#}
            {#var checkDiv = $('<ul></ul>');#}
            {#checkDiv.append($('<li></li>'));#}
            {#var innerDiv = $('<div></div>');#}
            {#innerDiv.addClass("form__input").attr('id','for_'+ select.attr("id"));#}
            {#var label = $('<label></label>').text(select.parent().parent().find('label').text());#}

            {#checkDiv.find('li').append(label);#}

            {#var options = $('<ul></ul>').addClass("checkboxes special-check");#}




            {#for (var i=1; i <= optCount; i++) {#}
                {#var opt = $('<li></li>');#}
                {#var id = select.attr('id')+'_opt'+i; i++;#}
                {#var input = $('<input>'); input.attr('type','checkbox'); input.attr('id', id);#}
                {#var label = $('<label></label>'); label.attr('for',id);#}
                {#input.attr('onchange','toggleCheckbox(this)');#}
                {#label.text('{{ 'choice.' }}');#}
                {#opt.append(input).append(label);#}
                {#options.append(opt);#}
            {#});#}
            {#if(select.attr('required') === 'required'){#}
                {#label.addClass('required');#}
                {#options.addClass('required');#}
            {#}#}
            {#checkDiv.find('li').append(options);#}
            {#checkDiv.append('<input name="'+select.attr('id')+'_val>');#}
            {#select.parent().parent().after(checkDiv);#}
        {#}#}
//        createCheckboxes(goodsDiv,5);
//        createCheckboxes(activityDiv,4);
//        createCheckboxes(regionDiv,3);
//




        $('button.btn--next').click(function(e) {

            e.stopPropagation();

            e.preventDefault();
            var inputs = $('.form__input:not(:hidden) input[required="required"],.form__input:not(:hidden) select[required=required]');
            var checkedExtras = $('.special-check');
            var i;
            var txt='';
            var hasError= false;
            var firstError;


            checkedExtras.each(function(){
                if($(this).find(':checked').length == 0){
                    hasError =true;
                    $(this).addClass('error');
                }
             });

            for(i=0; i<inputs.length; i++ ){
                if($(inputs[i]).val() == ''){
                    $(inputs[i]).addClass('error').parent().addClass('error');
                    hasError = true;
                    if(!firstError){
                        firstError = $(inputs[i]);
                    }
                }
            }

            if(hasError){

                $(this).attr('disabled',true).css('opacity',1);


                $('html,body').animate({
                    scrollTop: firstError.offset().top - 20
                },700);
                setTimeout(function(){
                    for(i=0; i<inputs.length; i++ ){
                        if($(inputs[i]).hasClass('error')){
                        }
                    }
                    $('button.btn--next').attr('disabled',false).css('opacity',1);

                    return false;

                }, 4700);


            } else {

                $('#form_save').click();

            }

        });

        function checkChecked(input){
            var vals = input.val().split(';');

            for (var i=0; i<vals.length; i++){
                removeVal(input,vals[i])
                $('.checkboxes input[id^="'+input.attr("id") +'"][value="'+vals[i]+'"]').click();
            }

        }
        function f117Check(){
            if($('#form_activity').val().indexOf("Andere") != -1 )
                $('#form_otherActivity').parent().show();
            else{
                $('#form_otherActivity').val('').parent().hide();
            }
        }



        function f120Check(){
            if( $('#form_goods').val().indexOf("Bulk") != -1 ) {
                $('#form_isRisky').parent().parent().show();


            } else {
                $('#form_isRisky').val('').parent().parent().hide();

            }

            if( $('#form_goods').val().indexOf('Andere') != -1) {
                $('#form_otherRisks').parent().show();

            } else {

                $('#form_otherRisks').val('').parent().hide();


            }



        }

        function f122Check(){
            if ($("#form_hasRegulation").val() == 1){
                $('#form_regulations').parent().show();
            } else {
                $('#form_regulations').val('').parent().hide();

            }
        }


//        function f121Check(){
//            if($('#form_goods option:selected').val() == "Bulk" && $('#form_isRisky').val() == 1){
//                $('#form_hasRegulation').parent().parent().show();
//            } else {
//                $('#form_hasRegulation').val('').parent().parent().hide();
//
//            }
//        }

        $(document).on('change','[id^=form_activity]', function(){
            f117Check()
        });

        $(document).on('change','[id^=form_goods], #form_isRisky',function(){
            f120Check();
        });
        $(document).on('change','#form_hasRegulation',function(){
            f122Check();
        });
        $(document).on('change','[id^=form_region]',function(){
           regionCheck()
        });


        function regionCheck(){

            if($('#form_region').val().indexOf('Europa') !== -1){
                $('#form_extraRegion').parent().show();
            } else {
                $('#form_extraRegion').val('').parent().hide();

            }
        }


        function stringCheck(input,string){
            if(input.val().indexOf(string) !== -1){
                $('#form_extraRegion').parent().show();
            } else {
                $('#form_extraRegion').val('').parent().hide();
            }
        }

        function f126Check(){
            if($('#form_hasBranch').val() == 1){
                $('#form_extraBranch').parent().show();
            } else {
                $('#form_extraBranch').val('').parent().hide();

            }  
        }
        $(document).on('change','#form_hasBranch',function() {
            f126Check()
        });

        function f127Check(){
            if($('#form_isContracter').val() == 1){
                $('#form_contracterCountries').parent().show();
            } else {
                $('#form_contracterCountries').val('').parent().hide();

            }

        }
        $(document).on('change','#form_isContracter', function(){
            f127Check()
        });


        $(document).ready(function(){

            checkChecked(goodsDiv);
            checkChecked(regionDiv);
            checkChecked(activityDiv);

            stringCheck(activityDiv,"Andere");
            stringCheck(regionDiv,'Europa');

            f120Check();
            f122Check();
            f126Check();
            f127Check();

        })
    </script>
{% endblock %}
