{% extends 'base.html.twig' %}
{% set step_nr = 3 %}

{% block content %}
{% include 'nav.html.twig' %}
  <section class="padding--2">
    <div class="container">
      <h1>{{ 'create_rap'|trans }}</h1>
      <div class="rapport">
        <div class="form">
            <form>
                <label class="gdpr required" style="height:45px" for="gdpr">

                <input name="gdpr" id="gdpr" type="checkbox" required="required" onchange="toggleGdpr()">
                {{ 'gdpr.check.text'|trans ~ ' ' }}
                <a href="#modal-gdpr" data-toggle="modal" target="_blank" style="text-decoration: underline; padding-left: 5px; font-weight: bold">
                    {{ 'gdpr.check.anchor'|trans }}
                </a>
                </label>
                <div>
                    {{ 'gdpr.modal.text'|trans ~ ' ' }}
                    <a href="{{ 'gdpr.modal.link'|trans }}" data-toggle="modal" target="_blank" style="text-decoration: underline; padding-left: 5px; font-weight: bold">
                        {{ 'gdpr.modal.anchor'|trans }}
                    </a>
                </div>
            <label for="">{{ 'email'|trans }}</label>
            <input type="email" placeholder="E-mailadres" name="" id="rapportEmail">
            <button type="button" class="btn btn--primary btn--plus" id="addEmail">{{ 'add'|trans }}</button>
            </form>

            <form id="emailsAction" action="{{ path('thank-you',{'locale': app.request.get('locale')}) }}" method="POST">
                <input type="hidden" name="emails" id="emailList" />
          </form>
        </div>
        <div class="rapport__emails">
          <ul id="rapportEmails">
          </ul>
        </div>
      </div>
    </div>

      <div class="modal fade" id="modal-gdpr" role="dialog">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header" style="padding:35px 50px;">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body text-center" style="padding:40px 50px; font-family: MetaPro-Normal">
                      {{ 'gdpr.modal.text'|trans ~ ' ' }}
                      <a href="{{ 'gdpr.modal.link'|trans }}" data-toggle="modal" target="_blank" style="text-decoration: underline; padding-left: 5px; font-weight: bold">
                          {{ 'gdpr.modal.anchor'|trans }}
                      </a>
                      <button type="submit" class="btn btn-success btn-default" data-dismiss="modal" style="margin:15px auto">{{ 'cookie-b'|trans }}</button>
                  </div>
              </div>
          </div>
      </div>

  </section>
{% endblock %}

{% block buttons %}
  <div class="buttons">
    <div class="container">
      <a class="btn btn--secondary btn--previous" href="{{ path('step2',{'locale': app.request.get('locale')}) }}">{{ 'prev'|trans }}</a>
      <button class="btn btn--primary btn--next" onclick="submitEmails()" id="submitButton">{{ 'confirm'|trans }}</button>
    </div>
  </div>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('assets/js/rapport.js') }}"></script>

    <script>
        function submitEmails(){
            $('#emailsAction').submit();
        }
        $('#addEmail').click( function(){$('#rapportEmail').focus()});


        $(document).on('keypress','input[type="email"]',function(e){
            if(e.keyCode == 13){
                $('.btn--plus').click();
                return false;
            }
        });
    </script>
{% endblock %}
