{% extends 'base.html.twig' %}
{% block content %}
  <section class="choices-wrapper padding--5">
    <div class="container">
      {#<h1>Bedankt!</h1>#}
      <h2>{{ 'thank.1'|trans }}</h2>
      <h2>{{ 'thank.2'|trans }}</h2>
      <div class="choices">
        <ul>
          <li>
            <a href="{{ 'link.arbeid.a'|trans }}">
              <div class="choices__image">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><g fill="none" fill-rule="evenodd"><path d="M0 0h100v100H0z"/><g fill="#008AC9" fill-rule="nonzero"><path d="M80.522 24.03a20.332 20.332 0 0 0-14.472-5.995 20.33 20.33 0 0 0-14.473 5.995l-1.625 1.625-1.625-1.625a20.335 20.335 0 0 0-14.473-5.995A20.33 20.33 0 0 0 19.38 24.03c-7.98 7.98-7.98 20.964 0 28.944L48.426 82.02a2.156 2.156 0 0 0 3.05 0L80.52 52.974a20.332 20.332 0 0 0 5.996-14.473A20.33 20.33 0 0 0 80.52 24.03zm-3.05 25.895l-27.52 27.52-27.52-27.52c-6.3-6.3-6.3-16.547 0-22.846a16.048 16.048 0 0 1 11.422-4.733c4.314 0 8.372 1.68 11.423 4.732l3.15 3.15a2.155 2.155 0 0 0 3.05 0l3.15-3.15a16.05 16.05 0 0 1 11.422-4.733A16.05 16.05 0 0 1 77.47 27.08c6.3 6.298 6.3 16.546 0 22.845z"/><path d="M16.062 45.277H8.156a2.156 2.156 0 1 0 0 4.312h7.906a2.156 2.156 0 1 0 0-4.313z"/><path d="M83.622 45.347H62.986l-3.212-7.063a1.436 1.436 0 1 0-2.663.114L50.55 56.893l-7.98-22.097a1.437 1.437 0 0 0-1.284-.948 1.398 1.398 0 0 0-1.368.824l-5.36 11.393H16.78c-.794 0-1.437.644-1.437 1.438 0 .793.946 1.368 1.74 1.368H35.77c.557 0 .76-.25.998-.755l4.275-9.082 8.167 22.615c.205.57.746.948 1.352.948h.002a1.436 1.436 0 0 0 1.35-.956l6.717-18.927 2.12 4.666c.235.513 1.05.772 1.613.772h21.562c.794 0 1.134-.574 1.134-1.368 0-.793-.645-1.437-1.438-1.437z"/><path d="M90.81 44.558h-6.468a2.156 2.156 0 1 0 0 4.313h6.47a2.156 2.156 0 1 0 0-4.312z"/></g></g></svg>
              </div>
              <span class="choices__title">{{ 'link.arbeid.text'|trans }}</span>
            </a>
          </li>
          <li>
            <a href="{{ 'link.brand.a'|trans }}">
              <div class="choices__image">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><g fill="none" fill-rule="evenodd"><path d="M0 0h100v100H0z"/><path fill="#008AC9" d="M82.154 86.656l-26.37-7.066 10.838-2.905 16.984 4.55-1.452 5.42zm-65.033-5.42L82.155 63.81l1.452 5.42-65.033 17.426-1.452-5.42zm0-12.006l1.453-5.42 26.37 7.067-10.838 2.904-16.984-4.55zm68.568 9.66l-13.646-3.656 13.646-3.657a1.4 1.4 0 0 0 .992-1.718l-2.18-8.13a1.403 1.403 0 0 0-1.717-.992l-32.42 8.687-32.42-8.687a1.403 1.403 0 0 0-1.717.992l-2.178 8.13a1.404 1.404 0 0 0 .992 1.717l13.646 3.657L15.04 78.89a1.4 1.4 0 0 0-.992 1.718l2.178 8.13a1.402 1.402 0 0 0 1.718.99l32.42-8.687 32.42 8.69a1.403 1.403 0 0 0 1.717-.993l2.18-8.13a1.405 1.405 0 0 0-.992-1.717z"/><path fill="#008AC9" d="M50.364 64.704c11.6 0 21.04-9.44 21.04-21.04 0-6.95-2.69-14.065-7.995-21.15a1.404 1.404 0 0 0-2.247 1.68c4.934 6.59 7.435 13.14 7.435 19.47 0 10.055-8.18 18.235-18.234 18.235-10.056 0-18.236-8.18-18.236-18.236 0-4.936 1.64-12.758 9.444-21.99 4.743-5.61 9.562-9.098 9.608-9.13a1.402 1.402 0 1 0-1.633-2.28c-.208.147-5.11 3.69-10.073 9.546-6.64 7.837-10.15 16.086-10.15 23.854 0 11.6 9.438 21.04 21.04 21.04"/><path fill="#008AC9" d="M57.742 20.064a1.4 1.4 0 0 0 1.982.095c.573-.523.614-1.41.093-1.983a65.657 65.657 0 0 0-3.335-3.407 1.402 1.402 0 1 0-1.933 2.032 63.36 63.36 0 0 1 3.192 3.262M49.546 29.9c-.11.078-2.692 1.944-5.294 5.016-3.517 4.15-5.375 8.537-5.375 12.69 0 6.334 5.153 11.487 11.486 11.487 6.334 0 11.487-5.153 11.487-11.486a1.402 1.402 0 1 0-2.805 0c0 4.786-3.894 8.68-8.682 8.68-4.786 0-8.68-3.894-8.68-8.68 0-6.994 6.38-12.886 8.682-14.785.445.364 1.04.876 1.706 1.512a1.404 1.404 0 0 0 1.937-2.03c-1.577-1.504-2.775-2.368-2.825-2.404a1.402 1.402 0 0 0-1.636 0"/><path fill="#008AC9" d="M58.92 38.25c-.322-.514-.67-1.036-1.04-1.545a1.403 1.403 0 0 0-2.273 1.645c.33.456.642.92.93 1.38.393.635.745 1.277 1.047 1.91a1.405 1.405 0 0 0 1.87.66 1.403 1.403 0 0 0 .66-1.87 22.844 22.844 0 0 0-1.195-2.18"/></g></svg>
              </div>
              <span class="choices__title">{{ 'link.brand.text'|trans }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
{% endblock %}
{% block buttons %}
  <div class="buttons">
    <div class="container">
      <a class="btn btn--secondary btn--previous" href="{{ path('index') }}">{{ 'home'|trans }}</a>
    </div>
  </div>
{% endblock %}
